

<div class="container-fluid pt-5 "  style="background-color: #040A23;" >

    <div class="container px-5 py-2 ">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mt-5 ">
                <a class="navbar-brand  footerCenter mt-3" href="#">  
                    <img src="../../assets/footer-logo.svg" alt="" width="124" height="" class="d-inline-block align-text-top fs-2 "> 
                </a>
                    <p class="fs-5 mt-4 lh-base footerCenter"  style="color: #fff;">Get in Touch</p>
                <div class="textheading mt-4  ">
                    <p class="fs-6 d-flex align-item-center lh-base footerCenter footertext "><img class="mx-1"  src="../../assets/icons8-phone-footer.png" style="width: 25px; height:25px;"> +1 877 362 6869</p>
                    <p  class="fs-6 d-flex align-item-center footerCenter footertext lh-base"><img class="mx-1" src="../../assets/icons8-mail-24.png">info@thebotoxcourse.com</p>
                    <p  class="fs-6 d-flex align-item-center footerCenter footertext lh-base"><img class="mx-1" src="../../assets/icons8-location-50.png" style="width: 25px; height:25px;">1562 Water St, Unit #1<br>
                        Kelowna, BC V1Y 1J7</p>
                    <p  class="fs-6 mt-5 footerCenter">Follow Us</p> 
                    <div class="mt-5 footerCenter">
                        <a href="https://www.facebook.com/thebotoxcourse/"><img  src="../../assets/footer-facebook.svg" width="25"></a>
                        <a href="https://www.pinterest.ca/thebotoxcourse/_saved/"><img src="../../assets/footer-pinterest.svg" width="25"></a>
                        <a href="https://twitter.com/thebotoxcourse"><img src="../../assets/footer-twitter.svg" width="25"></a>
                        <a href="https://www.instagram.com/thebotoxcourse_/"><img  src="../../assets/footer-instagram.svg" width="25"></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mt-5 lg-5 textheading lh-lg d-grid ">
                <p class="fs-5 footerCenter" style="color: #fff;" >General</p>
               
                <a class="fs-6 footerCenter" routerLink="/course-page">Courses</a>
                <a class="fs-6 footerCenter" routerLink="/treatment-page2">Treatments</a>
                <!-- <a class="fs-6 footerCenter" routerLink="/page-financing">Get Financing</a> -->
                <a class="fs-6 footerCenter" routerLink="/aboutus">About</a>
                <a class="fs-6 footerCenter" routerLink="/fellowship">Fellowship</a>
                <a class="fs-6 footerCenter">FAQ</a>
                <a class="fs-6 footerCenter">Blogs</a>
                <a class="fs-6 footerCenter"  routerLink="/testimonials">Testimonials</a>
                <a class="fs-6 footerCenter" routerLink="/page-financing">Get Financing</a>
            </div>


            <div class="col-12 col-sm-3 col-md-3 col-lg-3 mt-5 d-grid lh-base textheading d-grid">
                <p class="fs-5 mt-2 footerCenter  lh-base" style="color: #fff;">Our Locations</p>
              
                <a class="fs-6 footerCenter  lh-base">Calgary</a>
                <a class="fs-6 footerCenter  lh-base">Vancouver</a>
                <a class="fs-6 footerCenter  lh-base">Halifax</a>
                <a class="fs-6 footerCenter  lh-base">Edmonton</a>
                <a class="fs-6 footerCenter  lh-base">Saskatoon</a>
                <a class="fs-6 footerCenter  lh-base">Whitehorse</a>
                <a class="fs-6 footerCenter  lh-base">Winnipeg</a>

            </div>
            <div class="col-12 col-sm-2 col-md-2 col-lg-2 pt-1 pt-sm-5 textheading  d-grid lh-lg mt-0 mt-sm-5 ">
                <a class="fs-6 footerCenter mt-sm-4 mt-0 pt-sm-3">Winnipeg</a>
                <a class="fs-6 footerCenter">Montreal</a>
                <a class="fs-6 footerCenter">Kelowna</a>
                <a class="fs-6 footerCenter">Toronto</a>
                <a class="fs-6 footerCenter">Ottawa</a>
                <a class="fs-6 footerCenter">Regina</a>
                <a class="fs-6 footerCenter">St. John’s</a>
            </div>

        </div>
    </div>

    <div class="container mt-5 p-sm-4 p-3">
        <p class="textheading lh-base text-center" >© Copyright 2022 | ATC Aesthetics Training Canada INC. All rights reserved. | Botox, Dysport and Xeomin are trademarks of Ipsen, Allergan Inc., and Merz Inc.</p>
    </div>


</div>