.textHeading{
    font-weight: 500;
    // color: #6941C6;
}
.textHeading1{
    font-weight: 500;
    color: #6941C6;
}
.starIcon{
    color: #FDB022;
}

.textSubheading{
    font-weight: 450;
    color: #344054;
}

.btnBlue{
    background-color: #4C259F;
    color: white;
}

.btnBlue:hover{
    background-image: linear-gradient(to bottom left , #4c259f 35%, #a481ef 100%);

}