.grayClr {
    color: #667085;
}
.homeImg{
    margin-right: 12px;
}

.sec1MatArrowReferral {
    font-size: 18px;
    color: #D0D5DD;
    margin-right: 12px;
    // padding: 1px 30px 10px 15px;
}
.sec1Text{
    margin-right: 12px;
}

.sec2HeadReferral {
    font-size: 27px;
    font-weight: 500;
}

.sec3HeadReferral {
    font-size: 18px;
    font-weight: 500;
}

.sec3TextReferral {
    color: #667085;
    font-size: 12.7px;
}

.ReferralSaveBtn {
    background-color: #6941C6;
    color: white;
    width: 75px;

}

.ReferralCancleBtn {
    width: 75px;
    border-color: #D0D5DD;
    margin-right: 10px;

}