<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="homeImg">
            </div>

            <mat-icon class=" sec1MatArrowReferral ">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">Settings</p>
            <mat-icon class="sec1MatArrowReferral">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">Learners </p>
            <mat-icon class="sec1MatArrowReferral">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Referrals </p>
        </div>
    </div>

    <div class="container">

        <div class="d-flex">
            <mat-icon style="width:16px; margin-right: 40px;" class="grayClr">keyboard_backspace</mat-icon>
            <p class="sec2HeadReferral"> Referrals</p>
        </div>
    </div>

    <div class="container">
        <hr style="  color:#D0D5DD;">
        <div class="row py-1">
            <div class="col-12 col-sm-6">
                <p class="m-0 p-0 sec3HeadReferral">Referrals </p>
                <p class="m-0 pt-1 sec3TextReferral">Edit and customize settings for referrals</p>

            </div>

        </div>
        <hr style=" height:1.5px; color:#D0D5DD;">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10">
                <div class="py-2">
                    <p>Referral Fee (per-paid referral)</p>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p class="border p-2 ">$30.00</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <button type="button" class="btn btn-outline-danger">Deactivate</button>

                        </div>
                    </div>


                </div>
                <div class=" d-flex py-1">
                    <button mat-stroked-button class="ReferralCancleBtn">Cancle</button>
                    <button mat-stroked-button class="ReferralSaveBtn">Save</button>
                </div>
            </div>
            <div class="col-12 col-sm-2">
            </div>
        </div>
    </div>
</div>