<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="homeImg">
            </div>
            <mat-icon class=" sec1MatArrowAutomatedMail ">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">Settings</p>
            <mat-icon class="sec1MatArrowAutomatedMail">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Automated Emails & SMS</p>
            <mat-icon class="sec1MatArrowAutomatedMail">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Forgot Password</p>
        </div>
    </div>
    <div class="container">
        <div class="d-flex">
            <mat-icon style="width:16px; margin-right:40px;" class="grayClr">keyboard_backspace</mat-icon>
            <p class="sec2HeadAutomatedMail"> Automated Emails & SMS</p>
        </div>
        <hr style="color: #667085; height: 0.5px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="sec2 textClr">Select one or more forms of communication</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label sec2CheckBox" for="flexCheckDefault">
                                Email
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label sec2CheckBox" for="flexCheckDefault">
                                SMS
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6"></div>
        </div>
        <hr style="color: #667085; height: 0.5px;">
        <div class="row ">
            <div class="col-12 col-md-6">

                <p class="textClr">Who will reeceive this communication</p>
                <select class="form-select form-select-sm p-2" aria-label=".form-select-sm example">

                    <option value="1">All users</option>
                    <option value="2">Learners</option>
                    <option value="3">Patient Models</option>

                </select>

            </div>
            <div class="col-12 col-md-6"> </div>
        </div>
        <hr style="color: #667085; height: 0.5px;">
        <div class="container">
            <div class="row sec5BgClr">
                <p class="sec5Head m-0 ">Edit [Subject name] Email</p>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 col-md-6">
                <p class="grayText sec6BoldText ">Email Subject</p>
                <input type="text">
            </div>
            <div class="col-12 col-md-6"></div>
        </div>
       <div class="row">
        <p  class="grayText sec6BoldText ">Email</p>
        
       </div>

    </div>
</div>