.grayClr {
    color: #667085;
}
.textClr{
    color:#344054
}
.sec1MatArrowAutomatedMail{
    font-size: 18px;
    margin-right: 12px;
    color: #D0D5DD;
    // padding: 1px 30px 10px 15px;
}
.homeImg{
    margin-right: 12px;
}
.sec1Text{
    margin-right: 12px;
}
.sec2HeadAutomatedMail{
    font-size: 27px;
    font-weight: 500;
}
.sec2CheckBox{
    color: #101828;
    font-weight: 500;
}
.sec5BgClr{
    background-color: #F9FAFB;
}
.sec5Head{
    font-size: 20px;
    font-weight: 500;
 padding:10px 0px 10px 0px;
}
.sec6BoldText{
    font-weight: 500;
    font-size: 14px;
}