<div class="container py-5" style="padding-top: 14em !important;">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
            <p class="fs-1 fw-bold;">Botox/Dysport</p>
            <hr width="90" class="mt-4" >
            <mat-icon class="goldStar">star</mat-icon>
            <mat-icon class="goldStar">star</mat-icon>
            <mat-icon class="goldStar">star</mat-icon>
            <mat-icon class="goldStar">star</mat-icon>
            <mat-icon class="goldStar">star</mat-icon>
            <div>
                <small><u>126 Reviews</u></small>
            </div>
            <div class="row py-5">
                <img src="../../assets/sample images 1.png" alt="">
            </div>
            <p class="fs-6 lh-base pb-4">
                Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.
            </p>
            <p class="fs-6 lh-base pb-4">
                Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.
            </p>
            <p class="fw-bold fs-5 lh-base py-1">
                What to Expect</p>
                <p class="fs-6 lh-1">
                Lorem ipsum dolor sit amet.</p>
                <p class="fs-6 lh-1">
                Consectetur adipiscing elit.</p>
                <p class="fs-6 lh-1">
                Integer molestie lorem at massa.</p>
                <p class="fs-6 lh-1"> 
                Facilisis in pretium nisl aliquet.
            </p>
            <p class="fw-bold fs-5 lh-base pt-2">
                Outcomes</p>
            <p class="fs-6 lh-base"> 
                Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.
            </p>
            <p class="fs-6 lh-base">
                Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.
            </p>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 px-lg-4 d-flex align-items-center">
            <div class="d-grid">
                <div class="card shadow-sm border px-4 greyCard py-4 my-2">
                    <p class="textBlue fs-3 fw-600 lh-base">What to Expect</p>
                    <div class="d-flex pt-2 pb-2">
                        <mat-icon class="textBlue">query_builder</mat-icon>
                        <div class="d-grid px-2">
                            <p class="fs-5 textBlue">45 Minutes</p>
                            <p>Appointment (approximate)</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="d-flex py-4">
                        <mat-icon class="textBlue">watch_outline</mat-icon>
                        <div class="d-grid px-2">
                            <p class="fs-5 textBlue">Up to 1 Hour</p>
                            <p>Recovery</p>
                        </div>
                    </div>
                    <div class="d-flex pb-1 align-items-baseline">
                            <img src="../../assets/svg/🦆 icon _edit_.svg" alt="edit icon" 
                            width="20">                   
                        <div class="d-grid px-2">
                            <p class="fs-5 textBlue">3 Month</p>
                            <p>Follow up required</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="d-flex py-4 align-items-baseline">
                        <img src="../../assets/svg/unit_$_icon.svg" alt="edit icon" 
                        width="20">                   
                    <div class="d-grid px-2">
                        <p class="fs-5 textBlue">$6/unit</p>
                        <p>Cost per unit </p>
                    </div>
                    </div>
                    <button mat-flat-button class="btnBlue fs-5 btn-block rounded-3" routerLink="/appointmentdetails">
                        Book Appointment
                    </button>
                    <small class="py-4 greyText">
                        Please note: A $150.00 deposit is required for bookings and is used towards your treatment.
                    </small>
                </div>

                <div class="card px-4 border-0 pinkCard py-4 my-2">
                    <p class="textBlue fs-4 fw-600 lh-base d-flex justify-content-center">
                        <img src="../../assets/svg/🦆 icon _gift_.svg" alt="icon _gift_.svg"
                        class="px-2" width="50">
                        <i>Gift This Treatment</i>
                    </p>
                    <div class="py-2">
                        <small>Send to:</small>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="First name">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Last name">
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="w-100">
                            <input matInput placeholder="Email address" type="mail">
                            <mat-icon matPrefix>mail_outline</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button mat-flat-button class="btnWhite fs-6 btn-block rounded-3 w-75">
                            Gift Treatment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid secTwo py-5">
    <div class="container">
    <p class="text-white text-center lh-base fs-5">Patients Models from the botox course</p>
    <p class="fs-1 py-3 text-white text-center">Before & After Gallery</p>
        <div class="row py-5 d-flex align-items-center" >
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <img src="../../assets/faceimg.png" alt="face img"  
                class="img-fluid" class="w-100">
            </div>
            <div class="col-12 col-sm-6 col-md-6 align-items-center">
                <div class="row d-flex align-items-center justify-content-center pb-2">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../assets/Frame 2237.png" alt=""  width="140">
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../assets/Frame 2237.png" alt=""  width="140">
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../assets/Frame 2237.png" alt=""  width="140">
                    </div>
                    </div>
                    <div class="row d-flex align-items-center justify-content-center pt-2">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../assets/Frame 2237.png" alt=""  width="140">
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../assets/Frame 2237.png" alt=""  width="140">
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img src="../../assets/Frame 2237.png" alt=""  width="140">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bgLightGrey p-0 m-0">
    <div class="row m-4">
        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 greyCol p-5">
            <p class="fs-2">Patient Reviews</p>
                <p class="d-flex align-items-center mr-5 py-2">5/5 
                    <mat-icon class="starIcon">star</mat-icon> 
                    <mat-icon class="starIcon">star</mat-icon>
                    <mat-icon class="starIcon">star</mat-icon>
                    <mat-icon class="starIcon">star</mat-icon>
                    <mat-icon class="starIcon">star</mat-icon>
                    <small>126 Reviews</small>
                </p>
               <mat-divider class="divider"></mat-divider>

               <div class="row py-3 d-flex align-items-center">
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                        <img src="../../assets/Mask group.png" alt="">
                        <p class="py-2 fw-bold m-0">Alysha Whitlock</p>
                        <small>11 Sep, 2022</small>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                       <p>5/5</p>
                       <p class="d-flex">   
                            <mat-icon class="starIcon">star</mat-icon> 
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <p>Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.</p>
                </div>
                <div class="py-4">
                    <mat-divider></mat-divider>
                </div>

                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                        <img src="../../assets/Mask group.png" alt="">
                        <p class="py-2 fw-bold m-0">Alysha Whitlock</p>
                        <small>11 Sep, 2022</small>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                       <p>5/5</p>
                       <p class="d-flex">   
                            <mat-icon class="starIcon">star</mat-icon> 
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <p>Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.</p>
                </div>
                <div class="py-4">
                    <mat-divider></mat-divider>
                </div>


                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                        <img src="../../assets/Mask group.png" alt="">
                        <p class="py-2 fw-bold m-0">Alysha Whitlock</p>
                        <small>11 Sep, 2022</small>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                       <p>5/5</p>
                       <p class="d-flex">   
                            <mat-icon class="starIcon">star</mat-icon> 
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <p>Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.</p>
                </div>
                <div class="py-4">
                    <mat-divider></mat-divider>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                        <img src="../../assets/Mask group.png" alt="">
                        <p class="py-2 fw-bold m-0">Alysha Whitlock</p>
                        <small>11 Sep, 2022</small>
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="d-grid">
                       <p>5/5</p>
                       <p class="d-flex">   
                            <mat-icon class="starIcon">star</mat-icon> 
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                            <mat-icon class="starIcon">star</mat-icon>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <p>Botox injections are noted primarily for the ability to reduce the appearance of facial wrinkles. They're also used to treat conditions such as neck spasms (cervical dystonia), excessive sweating (hyperhidrosis), an overactive bladder and lazy eye. Botox injections may also help prevent chronic migraines.</p>
                </div>
                <div class="py-4">
                    <mat-divider></mat-divider>
                </div>

               </div>
               <button mat-button>View More <mat-icon>expand_more</mat-icon></button>
        </div>
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
</div>