<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="">
            </div>

            <mat-icon class=" sec1MatArrowSystemNotification ">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Settings</p>
            <mat-icon class="sec1MatArrowSystemNotification">keyboard_arrow_right</mat-icon>
            <p class="grayClr">System Notifications </p>

        </div>
    </div>


    <div class="container">
        <div class="d-flex">
            <mat-icon style="width:16px;" class="grayClr">keyboard_backspace</mat-icon>
            <p class="sec2HeadSystemNotification px-4"> System Notifications</p>
        </div>
    </div>

    <div class="container">
        <hr style=" color: #667085;">
        <div class="container py-2">
            <div class="row">
                <div class="col-12 col-sm-4 border shadow-sm  m-0 p-0">
                    <div class="py-4">
                        <div class="container " style="background-color:#F9FAFB;">
                            <p class="fs-6 pt-2 m-0 p-0">Front End System Notifications</p>
                        </div>
                        <hr style="  color:#D0D5DD; ">
                        <div class="container">
                            <p class="sec3TextSystemNotification">Visible to all users on the website</p>
                            <button mat-stroked-button class="CreateNotificationBtn mx-2">Create Notification</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-1"></div>
                <div class="col-12 col-sm-4 border shadow-sm m-0 p-0">
                    <div class="py-4">
                        <div class="container" style="background-color:#F9FAFB;">
                            <p class="fs-6 pt-2 m-0 p-0">After Login System Notifications</p>
                        </div>
                        <hr style="  color:#D0D5DD; ">
                        <div class="container">
                            <p class="sec3TextSystemNotification">Customize notifications for specific users</p>
                            <button mat-stroked-button class="CreateNotificationBtn mx-2">Create Notification</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3"></div>
            </div>
        </div>
        <div class="py-3">
            <hr style="color: #667085;">
            <div class="row py-3">
                <div class="col-12 col-sm-6">
                    <p class=" p-0 m-0 pb-2 afterLogHead ">After Log In System Notifications </p>
                    <div class="container pt-4">
                        <p class=" p-0 m-0 sec4TextSystemNotification">There are no active system notifications</p>
                    </div>


                </div>
                <div class="col-12 col-sm-6"></div>

            </div>
            <hr style=" color: #667085;">
        </div>

        <div class="row ">
            <div class="col-12 col-sm-6">
                <p class=" p-0 m-0 afterLogHead  ">After Log In System Notifications </p>
            </div>
            <div class="col-12 col-sm-6"></div>
        </div>
        <div>
            <div class="row pt-5">
                <div class="col-12 col-sm-6">
                    <p class="sec5TextSystemNotification">Learners</p>
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-end">
                    <button mat-stroked-button class="SystemNotificationCancleBtn mx-3">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Remove</button>
                </div>
            </div>
            <div class="my-4">
                <div class="row lastSecBox">
                    <div class="col-12 col-sm-2"></div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0 p-0 text-center boxText">We’ve just launched a <u class="boldText">new
                                course</u>! <span class="normalText">Seats are limited.</span><span class="boldText">
                                Register Now!</span></p>
                    </div>
                    <div class="col-12 col-sm-2 d-flex justify-content-end">
                        <mat-icon class="">clear</mat-icon>
                    </div>

                </div>
            </div>
            <div class="pt-1">
                <hr style=" color: #667085;">
            </div>
        </div>
        <div class="py-4">
            <div class="row ">
                <div class="col-12 col-sm-6">
                    <p class="sec5TextSystemNotification">Patient Models</p>
                </div>
                <div class="col-12 col-sm-6 d-flex justify-content-end">
                    <button mat-stroked-button class="SystemNotificationCancleBtn mx-3">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Remove</button>
                </div>
            </div>
            <div class="my-4">
                <div class="row lastSecBox">
                    <div class="col-12 col-sm-2"></div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0 p-0 text-center boxText"><span class="normalText">Limited Time Only! Botox just
                            </span>
                            <span class="boldText"> $5 a Unit. </span><u class="boldText">Book Your Treatment Today!</u>
                        </p>

                    </div>
                    <div class="col-12 col-sm-2 d-flex justify-content-end">
                        <mat-icon class="">clear</mat-icon>
                    </div>

                </div>
            </div>
            <div class="py-1">
                <hr style=" color: #667085;" class="">
            </div>

        </div>

    </div>
</div>