.grayClr {
    color: #667085;
}

.sec1MatArrowSystemNotification {
    font-size: 18px;
    color: #D0D5DD;
    padding: 1px 30px 10px 15px;
}

.sec2HeadSystemNotification {
    font-size: 27px;
    font-weight: 500;
}

.CreateNotificationBtn {
    background-color: #6941C6;
    color: white;
}

.sec3TextSystemNotification {
    color: #667085;
    font-size: 13px;
}

.afterLogHead {
    font-size: 22px;
    font-weight: 500;
}

.sec4TextSystemNotification {
    color: #667085;
    font-size: 15px;
}

.SystemNotificationCancleBtn {
    width: 75px;
    border-color: #D0D5DD;

}
.sec5TextSystemNotification{
    font-size: 18px;
    font-weight: 500;
}
.lastSecBox{
    background-color: #6941C6;
    color: white;
    padding:14px ;
}
.boxText{
    font-size: 15px;
}
.boldText{
    font-weight: 500;
}
.normalText{
    font-weight: 100    ;
}
