<div class="">
    <div class="herosSection py-5">

        <!-- <img  src="../../assets/the-botox-course-team.png" width="100%" > -->

        <p class="text-center lh-base textheading py-5 my-5 overlay" data-aos="zoom-out-up" data-aos-delay="400">
            Passion. Experience.<br>Dilligence</p>
    </div>


    <!-- <div class="mt-5 pt-5">
                    <p class=" mt-5 pt-5 lh-base text-center " style="font-size: 2rem;">The botox training course that will take your<br>
                        career to the next level</p>
                </div> -->

    <div class="container ">
        <div>
            <p class="fs-2 fw-light lh-base  text-center mt-5 pt-5" data-aos="zoom-out-up" data-aos-delay="600">The botox training course that will take
                your<br>
                career to the next level</p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <div class=" d-flex justify-content-center align-items-center opacityclass">
                    <img src="../../assets/play.png" class="matIconPlay playIcon" alt="">
                    <img src="../../assets/the botox-training course 1.png" class="fellowshipPrgmImg">
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row d-flex align-items-center pt-5">
            <div class="col-12 col-sm-6 ">
                <p class="fs-1 mt-5 pt-5  headBlue">About Us</p>
                <hr width="90" class="hrLine mt-4">
                <p class="mt-5 fs-5 fw-normal lh-base" style="text-align: justify">the botox course is the gold standard
                    for neuromodulator training in Canada.
                    For many medical professionals, the path to entering medical aesthetics is confusing,
                    daunting and stressful. This course was built to support learners who are keen on expanding
                    their scope of practice to include neuromodulators. We guarantee engaging lecturers, a positive
                    learning environment and an innovative educational experience. Our team is comprised of highly
                    motivated, personable and experienced professionals whose purpose is to equip you with the
                    fundamental medical and business skills you need to succeed.
                </p>
            </div>
            <div class="col-12 col-sm-6 py-5">
                <div class="row ">
                    <div class="col-sm-6">
                        <img class="mt-5" src="./../../assets/about-img-1.png" alt="" width="100%">
                    </div>
                    <div class="col-sm-6 d-flex align-items-center">
                        <div class="d-grid">
                            <div>
                                <img class="mt-5  pt-3" src="./../../assets/about-img-2.png" alt="" width="100%">
                            </div>

                            <img class="mt-5 pb-3" src="./../../assets/about-img-3.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Meet Our Team  Section Start -->

    <div class="container-fluid" style="background-color:#F5F5F5;">
        <p class="fw-100 mt-5 pt-5 text-center textBlue">THE BOTOX COURSE</p>
        <p class="fs-1  mt-3 text-center lh-base headBlue">Meet Our Team</p>
        <div class="justify-content-center d-flex">
            <hr width="90" class="mt-2 hrLine">
        </div>

        <div class="container">
            <div class="row d-flex ">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 d-flex justify-content-end gx-5">
                    <div class="">
                        <img class="mt-5 align-items-center ourTeamLeftImg" src="./../../assets/about-img-4.png" alt=""
                            width="450">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5">
                    <p class="mt-5 pt-3 fs-4 lh-base ourTeamHeading">Dr. Andrew Dargie, BSc, MD, CCFP</p>
                    <p class="  textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg  ourTeamPara " style="text-align: justify">
                            Dr. Andrew Dargie is originally from Calgary, Alberta. He
                            attended Stanford University in California where he earned a
                            Bachelor of Science in Biology. He obtained his Medical
                            Degree from the University of Calgary and went on to
                            start a Vascular Surgery residency, but ultimately transferred
                            to obtain his CCFP designation. He currently practices advanced medical aesthetics
                            in Kelowna and Vernon, BC. He also works as an Emergency Room Physician at Penticton
                            Regional Hospital and is the Department Head of Emergency Medicine at South Okanagan
                            General Hospital. Dr. Dargie has a passion for teaching and is part of a team dedicated
                            to ensuring the highest standard of neuromodulator education.
                        </p>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>



            <div class="row d-flex justify-content-center">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 ">
                    <!-- <div class="d-flex justify-content-end ">
                            
                        </div> -->
                    <p class="mt-5 pt-3 fs-4 lh-base ourTeamHeading ">Dr. Robert Morrell, BSc, MD, DipSM</p>
                    <p class=" textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg  ourTeamPara " style="text-align: justify">
                            Dr. Robert Morrell, director of the Medical Rejuvenation Centre, graduated from the
                            University of British Columbia’s
                            Biochemistry program and then graduated from the faculty of medicine. He then continued
                            studies in internal medicine
                            at McGill University and later became a teaching fellow in Lyon, France. Upon academy
                            completion, Dr. Morrell began
                            practicing medicine in Vancouver and has continued for over 25 years. In 1999, Dr. Morrell
                            opened his cosmetic practice
                            and over the last decade his clinic has continued to offer the latest anti-aging and skin
                            rejuvenating procedures.
                        </p>
                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Dr. Morrell is a spokesperson and technical trainer for the botox course and the filler
                            course, as well as the expert
                            course. As a member of the American Society for Laser Medicine and Surgery, Dr. Morrell is
                            also an active national and
                            international educator, and sat the board of directors for the Canadian Academy of Aesthetic
                            Medicine (CAAM) advocating
                            higher standards of care and efficacy. Committed to staying up to date on the latest
                            technical advances in the industry,
                            Dr. Morrell attends professional courses, such as Harvard’s Post Graduate Laser Course,
                            Laser & Aesthetic Skin Therapy:
                            What’s the truth? and Miami South Beach Symposium in aesthetic skin care.
                        </p>
                    </div>
                </div>


                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5 mt-5">
                    <div class="d-grid">
                        <img class="mt-5 pt-5 lg-mx-5 md-mx-5 ourTeamRightImg align-items-center "
                            src="./../../assets/about-img-5.png" alt="" width="450">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>


            <div class="row d-flex ">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 d-flex justify-content-end gx-5">
                    <div class="">
                        <img class="mt-5  pt-5 align-items-center ourTeamLeftImg" src="./../../assets/about-img-6.png"
                            alt="" width="450">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5">
                    <p class="mt-5 fs-4 lh-base ourTeamHeading">Dr. Brittany Macdonald, BSc, MD, CCFP</p>
                    <p class="  textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Originally from New Brunswick, Dr. Brittany Macdonald grew up on the East Coast of
                            Canada. After completing her Bachelor of Science degree at Dalhousie University she
                            initially worked with expectant mothers as a researcher in epigenetics at the IWK Children’s
                            Hospital in Nova Scotia. She later completed her medical degree in the nation’s capital at
                            the University of Ottawa, before returning East for her residency in Family Medicine at
                            Dalhousie University, where her training included a focus in skin disease and minor surgery.
                            Dr. Macdonald currently practices advanced medical aesthetics in Calgary, Alberta, where she
                            also continues to practice as a Family Physician. Dr. Macdonald is a passionate educator,
                            and
                            enjoys working with learners in both her medical and aesthetic practices.
                        </p>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>



            <div class="row d-flex justify-content-center">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 ">
                    <!-- <div class="d-flex justify-content-end ">
                            
                        </div> -->
                    <p class="mt-5 pt-5 lh-base fs-4 ourTeamHeading ">Becky Wilkins, RN</p>
                    <p class=" textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-1 pt-3  lh-lg ourTeamPara " style="text-align: justify">
                            Becky Wilkins has been a Registered Nurse for over 31 years. Combining her training
                            as a registered nurse with her passion for helping people look and feel their best,
                            allowed a transition into aesthetic medicine. Becky founded one of Alberta’s first
                            Medical Spas over 25 years ago and now has 2 locations and a team of 30 staff. Aesthetic
                            medicine not only requires an artistic eye, patient safety, and technical skill, but also
                            a strong commitment to client satisfaction. Integrity and honest communication with
                            prospective
                            clients is Becky’s priority. She has been teaching injection techniques throughout Western
                            Canada
                            for the past 5 years for one of the largest pharmaceutical companies. Her style of teaching
                            leaves
                            students and models with the confidence to achieve very natural results performed in the
                            most gentle
                            and safest way.
                        </p>
                    </div>
                </div>


                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5 mt-5">
                    <div class="d-grid">
                        <img class="mt-5 pt-5 lg-mx-5 md-mx-5 ourTeamRightImg align-items-center "
                            src="./../../assets/about-img-7.png" alt="" width="450">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>



            <div class="row d-flex ">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 d-flex justify-content-end gx-5">
                    <div class="">
                        <img class="mt-5  pt-5 align-items-center ourTeamLeftImg" src="./../../assets/about-img-8.png"
                            alt="" width="450">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5">
                    <p class="mt-5 lh-base fs-4 ourTeamHeading">Dr. Robert Dale, MD</p>
                    <p class="  textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3  pt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Dr. Robert Dale grew up in beautiful Vancouver, BC. He completed an Honours Bachelors of
                            Science degree in Biochemistry at Western University before returning home to the University
                            of British Columbia for his medical training. He completed two years of Urologic Surgery
                            residency training in addition to his Family Medicine residency. He currently practices
                            aesthetic medicine full time where he has a passion for combining technical skill with an
                            artistic touch. Dr. Dale also like to keep his surgical skills sharp and continues to work
                            as a Cardiac Surgery assist in the busiest cardiac centre in BC. Dr. Dale strives to achieve
                            authentic and natural aesthetic outcomes with each and every one of his patients and is
                            truly
                            committed to sharing this with all who wish to pursue aesthetics.
                        </p>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>



            <div class="row d-flex justify-content-center">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 ">
                    <!-- <div class="d-flex justify-content-end ">
                            
                        </div> -->
                    <p class="mt-5 pt-3 lh-base fs-4 ourTeamHeading ">Dr. Vance W. Elliot, BSc, MD, CCFP, FISHRS</p>
                    <p class=" textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Dr. Vance Elliott is from a small town in Saskatchewan. He completed a BSc in Biology
                            at Concordia University in Edmonton, AB and went on to Medical School at the U of S.
                            He was Chief Resident during his Family Medicine Residency Program in Regina, SK. He
                            began practice in Hair Restoration Surgery at the conclusion of his FMR residency in
                            1996. In 2005 he began practice in cosmetic injectables and has since been a pioneer
                            in Canada in the use of cannulas for fillers. He has taught basic and advanced cannula
                            filler technique to hundreds of injectors from North America over the past 15 years. He
                            has a particular interest in the use and teaching of Sculptra.
                        </p>
                    </div>
                </div>


                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5 mt-5">
                    <div class="d-grid">
                        <img class="mt-5 lg-mx-5 md-mx-5 ourTeamRightImg align-items-center"
                            src="./../../assets/about-img-9.png" alt="" width="450">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>




            <div class="row d-flex ">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 d-flex justify-content-end gx-5">
                    <div class="">
                        <img class="mt-5 pt-4 align-items-center ourTeamLeftImg" src="./../../assets/about-img-10.png"
                            alt="" width="450">
                        <!-- <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div> -->
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5">
                    <p class="mt-5 lh-base fs-4 ourTeamHeading">Dr. Andrew Dargie, BSc, MD, CCFP</p>
                    <p class="  textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Dr. Vikram Lekhi is a Comprehensive Ophthalmologist practicing in Calgary, AB and High
                            River,
                            AB. He received his Bachelor of Science from Simon Fraser University, obtained his Masters
                            in
                            Bio-Medical Technology, Doctor of Medicine, Master’s in Business Administration, and a
                            Residency
                            in Ophthalmology at the University of Calgary. Dr. Lekhi is a board-certified Fellow of the
                            Royal
                            College of Surgeons of Canada (FRCSC).
                        </p>
                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Dr. Lekhi is an engaging lecturer with a wealth of knowledge and is one of the many reasons
                            why the botox course is Canada’s gold standard in neuromodulator training.
                        </p>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>



            <div class="row d-flex justify-content-center">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 ">
                    <!-- <div class="d-flex justify-content-end ">
                            
                        </div> -->
                    <p class="mt-5 pt-3 lh-base fs-4 ourTeamHeading ">Kerri Kenward, BBM JD/JD</p>
                    <p class=" textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Kerri is originally from Vernon, British Columbia. She completed her undergraduate
                            degree in Business Management at the University of British Columbia – Okanagan. She
                            then went on to obtain a dual American and Canadian Juris Doctor from the University
                            of Windsor and Detroit Mercy School of Law. Kerri has always been interested in the
                            cosmetics industry and has a passion for enhancing people’s lives through discovering
                            new opportunities or developing new skills. She connected with Dr. Andrew Dargie and became
                            a dedicated advocate of the botox course’s mission to support learners by providing gold
                            standard
                            training with engaging lectures, hands on learning, and ensuring realistic results.
                        </p>

                    </div>
                </div>


                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5 mt-5">
                    <div class="d-grid">
                        <img class="mt-5  lg-mx-5 md-mx-5 ourTeamRightImg align-items-center"
                            src="./../../assets/about-img-11.png" alt="">
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex justify-content-center ">
                <hr width="90%">
            </div>



            <div class="row d-flex ">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6 py-5 d-flex justify-content-end gx-5">
                    <div class="">
                        <img class="mt-5 pt-4 align-items-center ourTeamLeftImg" src="./../../assets/about-img-12.png"
                            alt="" width="450">
                        <!-- <div class=" textBlue d-flex justify-content-center m-4 ">
                                <button class="fs-5 btnVisitWebsite"  mat-stroked-button >Visit Website</button>
                            </div> -->
                        <div class=" textBlue d-flex justify-content-center m-4 ">
                            <button class="fs-5 btnVisitWebsite" mat-stroked-button>Visit Website</button>
                        </div>
                    </div>

                </div>


                <div class="col-12 col-sm-5 col-md-5 col-lg-5 py-5 gx-5">
                    <p class="mt-5 lh-base fs-4 ourTeamHeading">Brynn Fitzgerald, RN</p>
                    <p class="  textColor">EDUCATOR</p>

                    <div class="d-grid">
                        <div class="d-flex ">
                            <img class="pr-2" src="./../../assets/svg/facebook.svg" alt="" width="33">
                            <img class="px-2" src="./../../assets/svg/Linkedin.svg" alt="" width="50">
                            <img class="pl-2" src="./../../assets/svg/twitter.svg" alt="" width="33">
                        </div>

                        <p class="mt-3 lh-lg ourTeamPara " style="text-align: justify">
                            Brynn is a Registered Nurse who was born and raised in Calgary, Alberta. She completed her
                            undergraduate degree in Nursing at the University of Calgary. Her experience as a registered
                            nurse began in preventative health where she has worked with diverse populations including
                            vulnerable, professional athletes, youth, and seniors. She realized not only did she love
                            making a difference in people’s lives, but that she has a creative side and a meticulous eye
                            for beauty and aesthetics. Pursuing her career in the medical aesthetics world, Brynn has
                            taken
                            extensive training for cosmetic injectables through The Botox Course and The Filler Course
                            with
                            Dr. Andrew Dargie, Canada’s gold standard for cosmetic injectables. Upon completion of the
                            courses,
                            she enriched and enhanced her skills through the Canadian Fellowship of Cosmetic Injectables
                            program.
                            Brynn now works for Aesthetics Canada as a course coordinator part-time while injecting at
                            SOS Skin Calgary.
                        </p>
                    </div>
                </div>
            </div>


            <div class="">
                <img class="my-5 align-items-center" src="./../../assets/about-img-training.png" alt="" width="100%">

            </div>


        </div>


    </div>
    <!-- Meet Our Team Section End -->


    <div class="container">
        <p class="fw-100 fs-5 lh-base mt-5 pt-5 text-center textChcekOut textBlue">Check out the latest from the botox course
        </p>
        <p class="fs-1  mt-3  text-center lh-base headBlue">Follow Us on Instagram</p>

        <div class="container col-12  d-flex justify-content-center ">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <img class="" src="./../../assets/about-img-followoninsta-1.png" width="100%">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <img class="" src="./../../assets/about-img-followoninsta-2.png" width="100%">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <img class="" src="./../../assets/about-img-followoninsta-3.png" width="100%">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <img class="" src="./../../assets/about-img-followoninsta-4.png" width="100%">
                </div>
            </div>

        </div>
    </div>




</div>