.grayClr{
    color: #667085;
}
.sec1MatArrow{
    font-size: 18px;
    color:#D0D5DD; 
    padding: 1px 30px 10px 15px;
}
.sec2Head{
    font-size: 27px;
    font-weight: 500;
}
.sec3Head{
    font-size: 18px;
    font-weight: 500;
}
.sec3Text{
    color:#667085;
    font-size: 12.7px;
}
.sec3Btn{
    background: #6941C6;
    color:white;
    height:35px;
    font-size: 12px;
    font-weight: 400;

}
.sec4Head{
 font-size: 14.8px;
}
.sec4InnerText1{
 font-size: 14.5px;
}
.sec4InnerText2{
    font-size: 13px;
    font-weight: 500;
}