<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="">
            </div>

            <mat-icon class=" sec1MatArrow ">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Settings</p>
            <mat-icon class="sec1MatArrow">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Payment Plan</p>

        </div>

    </div>
</div>
<div class="container">
    <div class="container">
        <div class="d-flex">
            <mat-icon style="width:16px;">keyboard_backspace</mat-icon>
            <p class="sec2Head px-4">Payment Plan</p>
        </div>
    </div>
</div>
<div class="container">
    <hr style="  color:#D0D5DD;">
    <div class="row py-1">
        <div class="col-12 col-sm-6">
            <p class="m-0 p-0 sec3Head">Payment Plans & Pricing</p>
            <p class="m-0 pt-1 sec3Text">Edit and customize payment plans here.</p>

        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-end">
            <button mat-stroked-button class="sec3Btn">Add a Plan</button>
        </div>
    </div>
    <hr style=" height:1.5px; color:#D0D5DD;">
</div>
<div>
    <div class="row py-2 pb-5 mb-5">; >
        <div class="col-12 col-sm-1"></div>
        <div class="col-12 col-sm-7 ">
            <div class=" border rounded-3">
                <!-- <div class="row "> -->
                    <!-- <div class="col-12 col-sm-5 border">
                        <div class="container" style="background-color:#F9FAFB; ">
                            <p class="py-4 m-0 sec4Head">Extended Payment Plan</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 border">
                    <hr class="m-0 p-0">
                </div>
                        
                        <div class="row">
                        <div class="col-12 col-sm-5 border">
                        <div class="py-3">
                            <p class="grayClr sec4InnerText1">Plan availablity:</p>
                            <p class="sec4InnerText2">Apply to all courses</p>
                            <p class="grayClr sec4InnerText1">Payment option(s):</p>
                            <p class="sec4InnerText2">Pre-authorized debit</p>
                            <p class="grayClr sec4InnerText1">Currency:</p>
                            <p class="sec4InnerText2">CAD</p>
                        </div>
                    </div>
                </div>
                  

                    <div class="col-12 col-sm-2"></div>
                    <div class="col-12 col-sm-5 border">
                        <div class="container" style="background-color:#F9FAFB; ">
                            <p class="py-4 m-0 sec4Head">Extended Payment Plan</p>
                        </div>
                        <hr class="m-0 p-0">
                        <div class=" py-3">
                            <p class="grayClr sec4InnerText1">Plan availablity:</p>
                            <p class="sec4InnerText2">Apply to all courses</p>
                            <p class="grayClr sec4InnerText1">Payment option(s):</p>
                            <p class="sec4InnerText2">Pre-authorized debit</p>
                            <p class="grayClr sec4InnerText1">Currency:</p>
                            <p class="sec4InnerText2">CAD</p>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5  border">
                        <div class="">
                            <p class="grayClr sec4InnerText1">One-time payment plan fee: </p>
                            <p class="sec4InnerText2">CA$40.00</p>
                            <p class="grayClr sec4InnerText1">Billing frequency:  </p>
                            <p class="sec4InnerText2">Monthly</p>
                            <p class="grayClr sec4InnerText1">Interest (%): </p>
                            <p><span class="grayClr sec4InnerText1">Option 1: </span><span class="sec4InnerText2">3 months @ 4%</span></p>
                            <p><span class="grayClr sec4InnerText1">Option 2: </span><span class="sec4InnerText2">6 months @ 6%</span></p>
                            <p><span class="grayClr sec4InnerText1">Option 3: </span><span class="sec4InnerText2">9 months @ 8%</span></p>
                            <p><span class="grayClr sec4InnerText1">Option 4: </span><span class="sec4InnerText2">12 months @ 10%</span></p>
                        </div>
                    </div>

                    <div class="col-12 col-sm-2"></div>
                    <div class="col-12 col-sm-5  border">
                        <div class="">
                            <p class="grayClr sec4InnerText1">One-time payment plan fee: </p>
                            <p class="sec4InnerText2">CA$40.00</p>
                            <p class="grayClr sec4InnerText1">Billing frequency:  </p>
                            <p class="sec4InnerText2">Monthly</p>
                            <p class="grayClr sec4InnerText1">Interest (%): </p>
                            <p><span class="grayClr sec4InnerText1">Option 1: </span><span class="sec4InnerText2">3 months @ 4%</span></p>
                            <p><span class="grayClr sec4InnerText1">Option 2: </span><span class="sec4InnerText2">6 months @ 6%</span></p>
                            <p><span class="grayClr sec4InnerText1">Option 3: </span><span class="sec4InnerText2">9 months @ 8%</span></p>
                            <p><span class="grayClr sec4InnerText1">Option 4: </span><span class="sec4InnerText2">12 months @ 10%</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-1"></div>
        </div> -->
    </div>