<!-- section one start -->
<div class="container-fluid py-5 BlueBgClr">
    <div class="container pt-5">
        <div class="row ">
            <div class="col-12 col-md-7 col-lg-7 col-xl-7 mt-5 mb-1 ">
                <p class="text-white lh-base courseSec1Text1 fw-600 py-2">{{courseScheduleDetails?.name}} </p>
                <p class="text-white courseSec1Text2 py-2 lh-base"> {{courseScheduleDetails?.shortDescription}}</p>
                <div class="row py-1">

                    <div class="col-12 col-sm-6 col-md-10 col-lg-6 col-xl-6 text-white">
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg1.svg" alt="" class="">
                            <p class="px-2 lh-base">Online Training: {{ courseScheduleDetails?.onlineLessons }} hours
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-10 col-lg-6 col-xl-6 text-white">
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg2.svg" alt="" class="">
                            <p class="px-2 lh-base">{{ courseScheduleDetails?.onlineLessons }} Lessons (averages
                                $34/lesson)</p>
                        </div>
                    </div>
                </div>
                <div class="row py-1">

                    <div class="col-12 col-sm-6 col-md-10 col-lg-6 col-xl-6 text-white">
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg3.svg" alt="" class="">
                            <p class="px-2 lh-base"> Hands-on Training: Up to {{ courseScheduleDetails?.handsOnTraining
                                }} Full Days</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-10 col-lg-6 col-xl-6 text-white">
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg4.svg" alt="" class="">
                            <p class="px-2"> English</p>
                        </div>
                    </div>

                </div>
                <div class="row py-1">
                    <div class="col-12 col-sm-6 col-md-10  col-lg-6 col-xl-6 text-white">
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg5.svg" alt="" class="">
                            <p class="px-2 lh-base"> Certificate of Completion</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6  col-lg-6 col-xl-6"></div>
                </div>
                <div class="row py-1">
                    <div class="col-12 col-sm-6 col-md-10 col-lg-6 col-xl-6 text-white">
                        <div class="d-flex align-items-start">
                            <div class="CourseSec1Star">
                                <mat-icon class="goldStar  w-0" style="font-size:18px;">star</mat-icon>
                                <mat-icon class="goldStar w-0" style="font-size:18px;">star</mat-icon>
                                <mat-icon class="goldStar w-0" style="font-size:18px;">star</mat-icon>
                                <mat-icon class="goldStar  w-0" style="font-size:18px;">star</mat-icon>
                                <mat-icon class="goldStar w-0" style="font-size:18px;">star</mat-icon>
                            </div>
                            <u class="CourseRating">
                                <p class="px-2">(106 Ratings)</p>
                            </u>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 col-xl-5 pt-5 "> </div>
        </div>
    </div>
</div>

<!-- section one end -->


<div class="container">
    <div class="row ">
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="row ">
                <div class="d-flex align-items-center justify-content-around shadow-sm py-2">
                    <div class="d-flex align-items-center">
                        <img src="./../../assets/svg/course-svg6.svg" alt="" class="">
                        <p class="px-2 p-0 mt-3 " style="font-weight:600; font-size: 15px;">100% Hands-on Training</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="./../../assets/svg/course-svg7.svg" alt="" class="">
                        <p class="px-2 p-0 mt-3 lh-base " style="font-weight:600; font-size: 15px;">Nationally
                            Recognized
                            Experts </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="./../../assets/svg/course-svg8.svg" alt="" class="">
                        <p class="px-2 p-0 mt-3  " style="font-weight:600;  font-size: 15px;"> Operated By Physicians &
                            Nurses</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4 ">
                <div class="col-12 col-md-12 col-lg-8  m-lg-0 p-lg-0 mt-2">
                    <div class=" GrayBgClr p-3">
                        <p class="fs-5 fw-bold">What’s included in the filler course</p>
                        <div class="d-flex align-items-start pt-2">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2 What’sIncludePoints">Comprehensive, immersive, self-paced online
                                learning
                            </p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2 ">High quality, professionally filmed injection videos</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Relevant anatomy, physiology and complication management</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Business management, office integration, and digital media lectures
                            </p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Quizzes at the end of each module to test your knowledge</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">3 month access to course materials</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Up to two full days of injecting patients with industry leaders</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">All relevant treatment areas covered, including: vermillion border,
                                lips, naso-labial folds, cheeks, marionette lines, temples and chin</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Hands-on training with Hyaluronidase</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Both needle and cannula techniques</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Downloadable course-related material</p>
                        </div>
                        <div class="d-flex align-items-start">
                            <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                            <p class="px-2">Certificate of course completion after hands-on training is
                                completed​</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 m-0 p-0  mt-2 p-lg-3">
                    <div class="row px-4 ">
                        <p class=" fs-5 fw-bold">Who’s this for?</p>

                        <div class="px-lg-4">
                            <div class="d-flex align-items-start ">
                                <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                                <p class="px-2">Physicians</p>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                                <p class="px-2">Nurses</p>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                                <p class="px-2">Dentists</p>
                            </div>
                            <div class="d-flex align-items-start">
                                <img src="./../../assets/svg/course-svg9.svg" alt="" class="">
                                <p class="px-2">Pharmacists​</p>
                            </div>
                        </div>
                    </div>
                    <div class="row px-4  pt-2">
                        <div class="GrayBgClr p-3">
                            <p class="fs-5 fw-bold">Nurse Discount</p>

                            <p class="nurseDiscountText1 "><span style="color: #4C259F">Nurses save *$300</span>
                                when
                                registering for online didactic &
                                hands-on training at the same time.</p>

                            <p class="nurseDiscountText2 "> *$300 discount is subject to
                                verification. Discount<u> ONLY </u>applicable when you book your online didactic
                                & hands-on training together. </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row p-0 ">
                <div class=" col-12 col-md-12 col-lg-11 col-xl-11 mt-lg-5 p-lg-0 ">
                    <p class="fs-5 fw-bold p-0 m-0">Description</p>
                    <p class="description lh-lg py-2" style="   text-align: justify;">
                        {{ courseScheduleDetails?.shortDescription }}
                    </p>
                </div>

                <div class=" col-12 col-md-12 col-lg-11 col-xl-11 mt-lg-5 p-lg-0">
                    <p class="fs-5 fw-bold py-2 ">Certification</p>
                    <p class="certificateText lh-base " style="text-align: justify;">{{
                        courseScheduleDetails?.certificationDetails }} </p>
                </div>


                <div class="col-12 col-md-12 col-lg-11 col-xl-11 mt-lg-5 p-lg-0">
                    <p class="fs-5 fw-bold py-2 my-2 mt-3">Online Course Curriculum</p>
                    <p class="certificateText lh-base pt-1  " style="text-align: justify;"> {{
                        courseScheduleDetails?.courseCurricullum }}
                    </p>
                </div>
            </div>


            <div class="row p-0 my-5">
                <div class=" col-12 col-md-12 col-lg-11 col-xl-11 mt-lg-5 p-lg-0 ">
                    <p class="fs-6 lh-base">
                        > 8 Modules &nbsp; &nbsp;> 107 Lessons &nbsp; &nbsp;> 12 hours and 25
                        minutes in length
                    </p>
                    <div class="">
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 1: Introduction </mat-panel-title>
                                <mat-panel-description>
                                    3 Lessons > 35 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 2: Filler Introduction </mat-panel-title>
                                <mat-panel-description>
                                    14 Lessons > 3 hours 48 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 3: Anatomy </mat-panel-title>
                                <mat-panel-description>
                                    17 Lessons > 4 hours 5 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 4: Complications </mat-panel-title>
                                <mat-panel-description>
                                    17 Lessons > 4 hours 5 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 5: Injection Techniques </mat-panel-title>
                                <mat-panel-description>
                                    17 Lessons > 4 hours 5 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 6: Beauty & Science </mat-panel-title>
                                <mat-panel-description>
                                    17 Lessons > 4 hours 5 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 7: The Business of Fillers </mat-panel-title>
                                <mat-panel-description>
                                    17 Lessons > 4 hours 5 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title> Module 8: Conclusion & Next Steps </mat-panel-title>
                                <mat-panel-description>
                                    2 Lessons > 41 minutes
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                        </div>
                    </div>
                    </div>


                    <div class="row p-0  ">
                        <div class=" col-12 col-md-12 col-lg-11 col-xl-11 p-lg-0 ">
                            <p class="column1sec7Head m-0 p-0 lh-base">Frequently Asked Questions</p>
                            <div class=" m-lg-0 p-lg-0">
                                <div class="py-3 ">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                                        hideToggle style="box-shadow:none; ">
                                        <mat-expansion-panel-header class="p-0 m-0">
                                            <mat-panel-title class="column1sec7Text1 lh-base"> What will I learn in the filler
                                                course?
                                            </mat-panel-title>
                                            <p class="column1sec7Text2">+</p>
                                            <!-- <mat-panel-description>
                                            17 Lessons > 4 hours 5 minutes
                                        </mat-panel-description> -->
                                        </mat-expansion-panel-header>
            
                                        <p class="p-0 m-0 lh-base">I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="py-3">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                                        hideToggle style="box-shadow:none; ">
                                        <mat-expansion-panel-header class="p-0 m-0">
                                            <mat-panel-title class="column1sec7Text1"> Who can take the filler course?
                                            </mat-panel-title>
                                            <p class="column1sec7Text2">+</p>
                                            <!-- <mat-panel-description>
                                            17 Lessons > 4 hours 5 minutes
                                        </mat-panel-description> -->
                                        </mat-expansion-panel-header>
            
                                        <p class="">I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </div>
                                <mat-divider></mat-divider>
            
                                <div class="py-3">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                                        hideToggle style="box-shadow:none; ">
                                        <mat-expansion-panel-header class="p-0 m-0">
                                            <mat-panel-title class="column1sec7Text1">How long will the course take to complete?
                                            </mat-panel-title>
                                            <p class="column1sec7Text2">+</p>
                                            <!-- <mat-panel-description>
                                            17 Lessons > 4 hours 5 minutes
                                        </mat-panel-description> -->
                                        </mat-expansion-panel-header>
            
                                        <p class="p-0 m-0">I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </div>
                                <mat-divider></mat-divider>
            
                                <div class="py-3">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                                        hideToggle style="box-shadow:none; ">
                                        <mat-expansion-panel-header class="p-0 m-0">
                                            <mat-panel-title class="column1sec7Text1"> How long will the course take to complete?
                                            </mat-panel-title>
                                            <p class="column1sec7Text2">+</p>
                                            <!-- <mat-panel-description>
                                            17 Lessons > 4 hours 5 minutes
                                        </mat-panel-description> -->
                                        </mat-expansion-panel-header>
            
                                        <p class="p-0 m-0">I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </div>
                                <mat-divider></mat-divider>
            
                                <div class="py-3">
                                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                                        hideToggle style="box-shadow:none; ">
                                        <mat-expansion-panel-header class="p-0 m-0">
                                            <mat-panel-title class="column1sec7Text1">How long will the course take to complete?
                                            </mat-panel-title>
                                            <p class="column1sec7Text2">+</p>
                                            <!-- <mat-panel-description>
                                            17 Lessons > 4 hours 5 minutes
                                        </mat-panel-description> -->
                                        </mat-expansion-panel-header>
            
                                        <p class="p-0 m-0">I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </div>
                                <mat-divider></mat-divider>
                            </div>
                            </div>
                            </div>
         


            <div class="row pt-4">
                <div class="d-flex justify-content-center py-4 pt-2">
                    <button mat-stroked-button class="column1sec7Button ">View FAQ</button>
                </div>
                <p class="column1sec6Text3 text-center lh-base pb-5"><span style="color:#122362">Still have
                        questions?</span>
                    <span style="color:#4C259F " class="px-2">Contact our Course Coordinator</span>
                </p>
            </div>
            <div class="row ">
                <div class="BlueBgClr  m-lg-0 p-lg-0 ">
                    <div class=" ">
                        <img src="./../../assets/Learner video Testimonial Course.png" alt=""
                            class="column1sec8Img  p-5">
                    </div>
                </div>
            </div>


            <div class=" row pt-5 ">
                <div class=" col-12 col-sm-4 col-md-8 col-lg-5 col-xl-5 py-2 m-lg-0 p-lg-0 LearnerReview">
                    <p class=" py-2 column1sec9Heading">Learner Reviews</p>
                    <div class="d-flex ">
                        <p class="fs-6 column1sec9Text1">5/5</p>
                        <div class=" sec9Star px-2">
                            <mat-icon class="goldStar orangeStar  w-0">star</mat-icon>
                            <mat-icon class="goldStar orangeStar w-0">star</mat-icon>
                            <mat-icon class="goldStar orangeStar w-0">star</mat-icon>
                            <mat-icon class="goldStar orangeStar w-0">star</mat-icon>
                            <mat-icon class="goldStar orangeStar w-0">star</mat-icon>
                        </div>
                        <div>
                            <p class="column1sec9Text2">126 Reviews</p>
                            <hr style="margin-top:-16px; height:1.5px">
                        </div>
                    </div>
                
                </div>
                <div class="LearnerReview">
                    <hr style="width:80px; height:0.5px "> 
                </div>


            </div>
            <div *ngFor="let Testimonial of TestimonialData">
                <div class="row">
                    <div class="py-2  m-lg-0 p-lg-0">
                        <div class="">
                            <img [src]="Testimonial.user.profile" alt="" class="coursesec9Img">
                        </div>
                        <div class="row py-1">
                            <div class="col-sm-4 d-flex">
                                <mat-icon class="goldStar orangeStar  w-0">star</mat-icon>
                                <mat-icon class="goldStar orangeStar  w-0">star</mat-icon>
                                <mat-icon class="goldStar orangeStar  w-0">star</mat-icon>
                                <mat-icon class="goldStar orangeStar  w-0 ">star</mat-icon>
                                <mat-icon class="goldStar orangeStar  w-0">star</mat-icon>
                            </div>
                        </div>
                        <p class=" column1sec9ReviewsHead mb-0 ">— {{Testimonial.user.firstName}}
                            {{Testimonial.user.lastName}}</p>
                        <p class="sec9Date">{{Testimonial.createdAt | date}}</p>
                        <p class="column1sec9Para lh-lg">{{Testimonial.review}}</p>
                        <hr>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="d-flex py-4 m-0 p-0">
                    <a href="" class="fs-5 fw-bold" style="color:black; text-decoration:none; ">View More <mat-icon
                            class="text-dark  ">keyboard_arrow_down</mat-icon></a>

                </div>
            </div>

            <div class=" row  mt-5">
                <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-8">
                    <p class=" text-center fs-5  lh-1 fw-bold">Learners also took these courses</p>
                </div>
                <div class="col-12 col-md-2 col-lg-2 col-xl-2">

                    <a href="" class="d-flex justify-content-center text-center fs-6"
                        style="color:#4C259F; text-decoration: none;">View all</a>
                </div>


            </div>

            <div *ngFor="let course of allCourse" class=" row border p-4 mb-4">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <img [src]="course.image" width="100%" height="170px" alt="" />
                </div>
                <div class="col-12 col-sm-12  col-md-7 col-lg-7 col-xl-7 py-2 ">
                    <p class="NewCourseBox" style="color: #122362; font-weight:700; font-size: 17px; ">
                        {{course.name}}
                    <p class=" text-over  NewCourseBox" style="color:black; font-weight:100; font-size:14px;">
                        {{course.shortDescription}}
                    </p>
                </div>

                <div class="row mt-lg-3 "> 
                    <div class="col-12  col-md-6 col-lg-3 col-xl-3 mt-3 ">
                        <div class="d-flex align-items-center mt-2">
                            <mat-icon class=" watchIcon"> play_circle_outline </mat-icon>
                            {{course.onlineLessons}} Lessons
                        </div>
                    </div>
                    <div class="col-12  col-md-6 col-lg-3 col-xl-3 mt-2">
                        <div class="d-flex align-items-center mt-2">
                            <mat-icon class=" watchIcon"> access_time </mat-icon>
                            {{course.handsOnTraining}} Day Hands on Training
                        </div>
                    </div>
                    <div class="col-12  col-md-6 col-lg-3 col-xl-3 mt-sm-2 mt-2">
                        <div class="d-flex align-items-center">
                            <div class="d-grid  p-0">
                                <h2 class="fs-5 fw-bold m-0 p-0">${{course?.courseSchedules[0]?.price}}</h2>
                                <p style="font-size: 10px " class="m-0 p-0">plus applicable taxes</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-12  col-md-6 col-lg-3 col-xl-3 mt-3">
                        <div class=" d-flex align-items-center ">
                            <button class="btn btn-lg btn-block btnaddcart">Add to Cart</button>
                        </div>
                    </div>



                </div>
        
                <!-- </div> -->

                <!-- <div class="rating position-absolute" style="right: 10px; top: 10px">
                            <mat-icon class="rating" color="rating">star</mat-icon>
                            <mat-icon class="rating" color="rating">star</mat-icon>
                            <mat-icon class="rating" color="rating">star</mat-icon>
                            <mat-icon class="rating" color="rating">star</mat-icon>
                            <mat-icon class="rating" color="rating">star</mat-icon>
                        </div> -->
                <!-- </div>
                </div> -->
            </div>


        </div>




        <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0 ">
            <div class="SelectCourse">
                <div class="">
                    <img [src]="courseScheduleDetails?.image" width="100%" style="height: 250px" alt=""
                        class="courseimgg">
                </div>
                <div class="container GrayBgClr">
                    <div class="row p-3 pb-0">
                        <p class="fs-6 fw-bold ">Select Course Package</p>
                        <div class="py-2 ">
                            <button class="btn btn-lg btn-block SelectCourseBtn2  "
                                *ngIf="courseScheduleDetails?.type == 'online'">Online Didactic
                                Training</button>
                        </div>
                        <div class="py-2 ">
                            <button  class="btn btn-lg btn-block SelectCourseBtn2 "
                                *ngIf="courseScheduleDetails?.type == 'hands-on'">Hands-on Training</button>
                        </div>
                        <div class="py-2 ">
                            <div class="d-flex justify-content-start ">
                                <p class="fw-bold ">Best value</p>
                                <mat-icon class=" px-1 m-0 p-0  fs-6">thumb_up</mat-icon>
                            </div>
                            <button  class=" btn btn-lg btn-block SelectCourseBtn2 "
                                *ngIf="courseScheduleDetails?.type == 'online-hands-on'">Online & Hands-on
                                Training</button>
                        </div>
                        <div class="pt-3">
                            <p class="fs-6 fw-bold  px-2 ">Select location for hands-on training</p>
                            <mat-form-field appearance="outline" style="width: 100%" class="">
                                <mat-label>Select location</mat-label>
                                <mat-select (selectionChange)="courseLocationChange($event)">
                                    <mat-option value="">Select Location</mat-option>
                                    <mat-option *ngFor="let loca of locations" value="{{loca.scheduleId}}">
                                        {{loca.country}}, {{loca.state}}, {{loca.city}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-error class="d-flex align-items-center  ">
                            <mat-icon class="example-tab-icon d-flex align-items-center " style="font-size:18px">
                                access_alarms</mat-icon>
                            Hurry, just 1 spot left at this location!
                        </mat-error>
                        <div class="d-flex justify-content-between py-4 ">
                            <p class="d-flex align-items-center fw-bold ">
                                <!-- <mat-icon class="example-tab-icon mx-2">share</mat-icon> -->
                                <img src="./../../assets/svg/Share this course.svg" class="" alt=""
                                    style="margin-right:8px;" />
                                <u>Share this course</u>
                            </p>
                            <p class="d-flex align-items-center fw-bold ">
                                <!-- <mat-icon class="example-tab-icon mx-2">account_balance_wallet</mat-icon> -->
                                <img src="./../../assets/svg/Apply for Financing.svg" class="" alt=""
                                    style="margin-right:8px;" />
                                <u>Apply for Financing</u>
                            </p>
                        </div>

                        <h1 class="d-flex justify-content-center fs-1 fw-bold mt-2 m-0 p-0">
                            {{
                            getSelectedSchedulePrice() | currency: getSelectedScheduleCurrency()
                            }}
                        </h1>
                        <strong class="d-flex justify-content-center mt-2" style="font-size:11.8px;">plus applicable
                            taxes</strong>

                        <div class="d-flex justify-content-center">

                            <button type="button" (click)="addToCart()"
                                class="btn btn-lg btn-block d-flex justify-content-center mt-5"
                                style="background-color: #cc001e; color: white; border-radius:9px; font-size:18px; font-weight: 500; width:80%;">
                                Add to Cart
                            </button>
                        </div>



                        <div class="d-flex justify-content-center mt-3 ">

                            <button type="button" (click)="buyNow()"
                                class="btn btn-lg  d-flex justify-content-center fw-bold"
                                style="
                                 background-color: white; color:#0D1842; padding-inline: 60px; border: 1px solid rgb(163, 163, 163); border-radius:9px; font-size:18px; font-weight: 400; width:80%;">
                                Buy Now
                            </button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center py-2 ">
                            <mat-divider style="width:35%"></mat-divider>
                            OR
                            <mat-divider style="width:35%"></mat-divider>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <!-- (click)="buyNow()" -->
                            <button type="button" class="btn btn-lg  fw-bold"
                                style="
                                 background-color: white; color:#0D1842;  border: 1px solid rgb(163, 163, 163);  border-radius:9px; font-size:18px; font-weight: 400; width:80%;">
                                Buy Now, Pay Later
                            </button>
                        </div>
                        <div class="p-4 ">
                            <h3 class="fw-bold">This course offers you:</h3>
                            <p class="d-flex align-items-center " style="font-size:15px;">
                                <img src="./../../assets/svg/courseOffer (5).svg" class="" alt=""
                                    style="margin-right:10px;" />
                                12 hours on-demand lessons
                            </p>
                            <p class="d-flex align-items-center  " style="font-size:15px;">
                                <img src="./../../assets/svg/courseOffer (4).svg" class="" alt=""
                                    style="margin-right:10px;" />
                                90 days access to online materials
                            </p>
                            <p class="d-flex align-items-center" style="font-size:15px;">
                                <img src="./../../assets/svg/courseOffer (6).svg" class="" alt=""
                                    style="margin-right:10px;" />
                                Over 16 hours of hands-on training
                            </p>
                            <p class="d-flex align-items-center" style="font-size:15px;">
                                <img src="./../../assets/svg/courseOffer (3).svg" class="" alt=""
                                    style="margin-right:10px;" />
                                A certificate of course completion
                            </p>
                            <p class="d-flex align-items-center" style="font-size:15px;">
                                <img src="./../../assets/svg/courseOffer (2).svg" class="" alt=""
                                    style="margin-right:10px;" />
                                Opportunity to take &nbsp;<span style="color: #4C259F">the expert course</span>
                            </p>
                            <div class="d-flex  ">
                                <div class="">
                                    <img src="./../../assets/svg/courseOffer (1).svg" class="" alt=""
                                        style="margin-right:10px;" />
                                </div>
                                <p class=" " style="font-size:15px;">
                                    Opportunity to enter <span style="color: #4C259F">The Canadian Fellowship of
                                        Cosmetic Injectables</span>
                                </p>
                            </div>

                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="p-4">
                        <h3 class=" fw-bold fs-6">Course Accreditations & Credits:</h3>
                        <div class="d-flex py-2">
                            <img src="../../assets/CNA_Logo-1-RGB-EN-e1626884871181-300x148 1.png" class=""
                                style="width:38%; margin-right: 24px;" alt="" />
                            <img src="../../assets/Mainpro-Plus-logo-72 1.png" class="img-fluid" alt=""
                                style="width:55%;" />
                        </div>
                        <img class="img-fluid" src="../../assets/042021_PTIFA_PROVIDER_BADGE_BLK-1024x233 1.png" alt=""
                            class="w-100" />
                        <img class="img-fluid" src="../../assets/ADA-CERP-logo-color 1.png" alt="" class="w-100" />

                    </div>

                    <h3 class="fw-bold fs-5 m-0 p-0">
                        Interested in taking the botox and filler together?
                    </h3>
                    <p class="lh-1 p-0 mt-1  lh-base" style=" font-size: 12px; font-weight: 400;">
                        Nurses can save up to $1000* when they register for botox and filler
                        online and hands-on training courses at the same time. Other medical
                        professionals will save $500.
                    </p>

                    <div class="d-flex justify-content-center py-4">
                        <button  class=" btn btn-lg btn-block btnfillerpackage">botox and filler package</button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="py-4">
                        <h3 class=" fw-bold fs-6 m-0 p-0">Training 5 or more people?</h3>
                        <p class="mt-1 p-0 lh-base fs-6" style="font-weight: 400;">
                            Get a clinic discount for your practice. Get in touch with our course
                            coordinator to book your private training.
                        </p>
                    </div>

                    <div class=" d-flex justify-content-center  pb-5">
                        <button  class=" btn btn-lg btn-block  bookTeamBtn" >Book
                            Team Training</button>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>