<div class="container-fluid p-5" style="padding-top: 12em !important;"> 
    <div class="container">
        <p class="d-flex align-items-center px-5"><mat-icon>arrow_backward</mat-icon> Back</p>
        <p class="fs-2 fw-bold px-5 py-3">Your cart</p>
        <div class="row p-5">
            <div class="col-12 col-sm-8-col-md-8 col-lg-8">
                <div class="row d-flex align-items-center py-2">
                    <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                        <img src="../../assets/unsplash_ZB4eQcNqVUs.png" alt="">
                    </div>
                    <div class="col-12 col-sm-7 col-md-7 col-lg-7" >
                        <small>RF293</small>
                        <p class="fw-bold lh-base">the botox course</p>
                        <p class=" lh-base">Online & Hands-on Training</p>
                        <div class="d-flex justify-content-between  lh-base">
                            <p>Hands-on Date:  26 Sep 2022, Calgary, AB, Canada</p>
                            <a href="#" style="text-decoration: none;">Edit</a>
                            <a href="#" class="text-danger" style="text-decoration: none;">Remove</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                        <p class="fs-5">$1,795</p>
                    </div>
                </div>
                <mat-divider class="divider"></mat-divider>
                <div class="row d-flex align-items-center py-3">
                    <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                        <img src="../../assets/unsplash_ZB4eQcNqVUs (1).png" alt="">
                    </div>
                    <div class="col-12 col-sm-7 col-md-7 col-lg-7">
                        <small>RF293</small>
                        <p class="fw-bold  lh-base">the microneedling course for medical professionals</p>
                        <p>Online Didactic Training</p>
                    
                        <a href="#" class="text-danger" style="text-decoration: none;">Remove</a>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
                        <p class="fs-5">$1,898</p>
                    </div>
                </div>
                <mat-divider class="divider"></mat-divider>

            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="border rounded-3 p-4">
                    <p class="fs-3 fw-bold">Summary</p>
                    <div class="pt-4 d-flex justify-content-between">
                        <p>Applicable credits</p>
                        <p>$300.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Subtotal</p>
                        <p>$3,693.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Tax</p>
                        <p>$220.55</p>
                    </div>
                    <div class="fs-5 pt-4 d-flex justify-content-between lh-base">
                        <p>Due Today</p>
                        <p class="text-primary">$3,913.55</p>
                    </div>
                    <button mat-button class="btn btn-block btn-lg btnBlue py-2 rounded-3 my-5 fs-5 w-100 text-white">
                        Continue To Payment
                    </button>
                    <small class="py-5">
                        <span class="fw-bold  lh-base"> Important notice: </span> this deposit is non-refundable.
                        If you do not show up/ or cancel this appointment, you agree to forfeit your deposit.
                    </small>
                </div>
            </div>

        </div>
    </div>
</div>