.blueClr{
    color: #4C259F;

}

.textsubheading{
    color: #667085;
}

.fontWt{
    font-weight: 500;
}
.btn1{
    min-width:280px;
    max-width: 300px;
    padding:5px;
}
.btn2{
    min-width:280px;
    max-width: 300px;
    padding:5px;
}
.gotoText{
    font-size:14px;
    color: #344054;
}