<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="homeImg">
            </div>

            <mat-icon class=" sec1MatArrowAfterLogin ">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">Settings</p>
            <mat-icon class="sec1MatArrowAfterLogin">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">System Notifications </p>
            <mat-icon class="sec1MatArrowAfterLogin">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">[Create/Edit] After Login System Notification </p>

        </div>
    </div>
    <div class="container">
        <div class="d-flex">
            <mat-icon style="width:16px; margin-right: 40px;" class="grayClr">keyboard_backspace</mat-icon>
            <p class="sec2HeadAfterLogin "> System Notifications</p>
        </div>
        <div class="">
            <hr style="color: #667085;">
            <div class="row py-2">
                <div class="col-12 col-md-6">
                    <p class=" p-0 m-0  sec3HeadAfterLogin">[Create/Edit] After Login System Notification</p>
                    <p class=" pt-2 m-0 sec3TextAfterLogin">Customize your system notification here</p>

                </div>
                <div class="col-12 col-md-6"></div>
            </div>
            <hr style=" color: #667085;">
        </div>
        <div class="row">
            <div>
                <div class="col-12 col-md-6">
                    <div class="py-2">
                        <p style="color: #344054;  font-weight: 500;">Display system notification to:</p>
                        <select class="form-select form-select-sm p-2 grayClr" aria-label=".form-select-sm example">
                            <option value="1">All users</option>
                            <option value="2">Learners</option>
                            <option value="3">Patient Models</option>
                        </select>
                    </div>
                    <div class="py-2">
                        <p style="color: #344054; font-weight: 500;">Select course</p>
                        <select class="form-select form-select-sm p-2 grayClr" aria-label=".form-select-sm example">
                            <option value="1">All courses</option>
                            <option value="2">the botox course</option>
                            <option value="3">the filler course</option>
                            <option value="4">the botox and filler package</option>
                            <option value="5">the expert course</option>

                        </select>
                    </div>
                    <div class="py-2">
                        <p style="color: #344054; font-weight: 500;">Location </p>
                        <select class="form-select form-select-sm p-2 grayClr" aria-label=".form-select-sm example">
                            <option value="1">All locations</option>
                            <option value="2">Calgary, AB, Canada</option>
                            <option value="3">Edmonton, AB, Canada</option>
                            <option value="4">Halifax, NS, Canada</option>
                            <option value="5">Kelowna, BC, Canada</option>
                        </select>
                    </div>
                    <div class="">
                        <p class="fw-bold ">Select Color</p>
                        <input type="color"/>
                    </div>                                  
                </div>

                <div class="col-12 col-md-6"></div>
                <hr>
            </div>
            <p class="PreviewHead pt-3">Preview</p>
            <div class="py-2 pb-4">
                <div class="row lastSecBox">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-8">
                        <p class="m-0 p-0 text-center boxText">We’ve just launched a <u class="boldText">new
                        course</u>! <span class="normalText">Seats are limited.</span><span class="boldText">
                         Register Now!</span></p>
                    </div>
                    <div class="col-12 col-md-2 d-flex justify-content-end">
                        <mat-icon class="">clear</mat-icon>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container py-4 mb-5 pb-5">
                <div class=" d-flex py-1">
                    <button mat-stroked-button class="AfterLoginCancleBtn">Cancle</button>
                    <button mat-stroked-button class="AfterLoginCreateNotificationBtn">Create Notification</button>
                   </div>
            </div>
            <div>
               

            </div>
           
        </div>
    </div>
</div>