<div style="padding-top: 5%;">
  <div class="my-5 my-sm-5 mx-2 mx-sm-5 p-3 px-sm-5">
    <div class="container px-0 px-sm-5 my-0 my-sm-5">
      <form class="m-0 p-0" [formGroup]="registrationForm">
        <mat-stepper #stepper class="m-0 p-0">
          <mat-step [stepControl]="firstFormGroup" class="m-0 p-0">
            <ng-template matStepLabel>Sign Up</ng-template>
            <div class="p-0 m-0 justify-content-center align-item-center text-center d-flex">
              <div class="col-12 col-sm-6 col-md-10 col-lg-6 col-xl-6 p-0">
                <div class="d-flex justify-content-end align-items-center text-center m-0 p-0" style="height: 100%">
                  <div class="box position-relative card">
                    <div class="mx-2 mx-sm-5 justify-content-start align-items-start text-start">
                      <div class="mx-2 mx-sm-4">
                        <h2 class="mt-5 " style="
                            font-size: 30px;
                            font: weight 700px;
                            color: #101828;
                          ">
                          Sign Up
                        </h2>
                        <p style="
                            font-size: 12px;
                            font: weight 400px;
                            color: #667085;
                          ">
                          Welcome! Please enter your details below.
                        </p>

                        <label for="name" class="d-flex justify-content-start fontStyle mb-2">First Name*</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" [class.is-invalid]="" id="name"
                            aria-describedby="nameHelp" placeholder="Enter your name" formControlName="firstName" />
                        </div>
                        <label for="name" class="d-flex justify-content-start fontStyle mb-2">Last Name*</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" [class.is-invalid]="" id="name"
                            aria-describedby="nameHelp" placeholder="Enter your name" formControlName="lastName" />
                        </div>
                        <label for="email" class="d-flex justify-content-start fontStyle mb-2">Email Address*</label>
                        <div class="input-group mb-3">
                          <!-- <input type="text" class="form-control" style="border-left: 0;"
                                          placeholder="info@botox.." aria-label="Username" aria-describedby="basic-addon1"> -->
                          <input type="email" class="form-control" [class.is-invalid]="" id="email"
                            aria-describedby="emailHelp" placeholder="Enter your email" formControlName="email" />
                        </div>
                        <label for="email" class="d-flex justify-content-start fontStyle mb-2">Mobile Number*</label>
                        <div class="input-group mb-3">
                          <input class="form-control" [class.is-invalid]="" id="mobile_no" aria-describedby="mobileHelp"
                            placeholder="Enter mobile number" formControlName="phone_number" />
                        </div>
                        <label for="" class="d-flex justify-content-start fontStyle mb-2">Password *</label>
                        <div class="input-group mb-3">
                          <!-- <input type="text" class="form-control" placeholder="Enter password"  style="border-left: 0;"
                                              aria-label="Amount (to the nearest dollar)" type="password">
                                              <span class="input-group-text bg-white forgotPass" >Forgot password?</span> -->
                          <input [class.is-invalid]="" class="form-control" id="password"
                            placeholder="Enter your password" formControlName="password" />
                          <span style="top: 0; right: 8px"
                            class="position-absolute h-100 d-flex justify-content-end align-items-center">
                            <i (click)="toggle()" *ngIf="type == 'password'" class="bx bxs-hide bx-sm"></i>
                            <i (click)="toggle()" *ngIf="type == 'text'" class="bx bx-show bx-sm"></i>
                          </span>
                        </div>
                        <label class="d-flex justify-content-start fontStyle mb-2">Refferal</label>
                        <div class="input-group mb-3">
                          <input class="form-control" [class.is-invalid]="" placeholder="Enter refferal"
                            formControlName="refferred_by" />
                        </div>
                        <p style="
                            font-size: 12px;
                            font: weight 400px;
                            color: #667085;
                          ">
                          Must be at least 8 characters.
                        </p>
                        <div class="d-flex justify-content-center">
                          <button matStepperNext mat-flat-button type="submit"
                            class="btn-signin btn-lg px-5 my-3 shadow-sm">
                            Get started
                          </button>
                        </div>
                        <div class="row d-flex justify-content-center align-items-center text-center">
                          <div class="col">
                            <hr />
                          </div>
                          <div class="col-auto" style="color: #667085">OR</div>
                          <div class="col">
                            <hr />
                          </div>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                          <button mat-flat-button type="submit" class="btn btn-lg">
                            <span><img src="../../assets/google.png" alt="" /></span>
                            Continue with Google
                          </button>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                          <button mat-flat-button type="submit" class="btn btn-lg">
                            <span><img src="../../assets/facebook.png" alt="" /></span>
                            Continue with Facebook
                          </button>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                          <button mat-flat-button type="submit" class="btn btn-lg">
                            <span><img src="../../assets/apple.png" alt="" /></span>
                            Continue with Apple
                          </button>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                          <p class="fs-6 fontStyle">
                            Already have an account?
                            <a style="color: #0c58cb" routerLink="/login">Sign in</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center my-4">
              <!-- <button mat-button matStepperNext
                      class="border" style="background-color: #0C58CB;color: #ffff;">Next</button> -->
            </div>
            <!-- </div> -->
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Select account type">
            <div class="container p-0 m-0 justify-content-center align-item-center text-center d-flex">
              <div class="col-12 col-sm-6" style="height: 100%">
                <div class="box my-5 position-relative card">
                  <div class="mx-2 mx-sm-5 justify-content-start align-items-start text-start">
                    <div class="m-5 justify-content-center align-items-center">
                      <h2 class="mt-5" style="
                          font-size: 30px;
                          font: weight 700px;
                          color: #101828;
                        ">
                        Select account type
                      </h2>
                      <p style="
                          font-size: 12px;
                          font: weight 400px;
                          color: #667085;
                        ">
                        Are you a learner or patient model?
                      </p>

                      <div class="radio-with-Icon">
                        <p class="radioOption-Item">
                          <input type="radio" name="BannerTypes" id="BannerType1" value="learner" formControlName="role"
                            name="role" class="ng-valid ng-dirty ng-touched ng-empty" aria-invalid="false" />
                          <label for="BannerType1" class="fs-6">
                            <div class="row d-flex justify-content-center align-items-center text-center">
                              <div class="col-2">
                                <img style="height: 50px; width: 50px" src="../../assets/Group 38.svg" alt="" />
                              </div>
                              <div class="col-10 align-items-start text-start"
                                style="font-size: 16px; font-weight: 700">
                                I am a Learner
                              </div>
                            </div>
                          </label>
                        </p>
                        <div class="row d-flex justify-content-center align-items-center text-center">
                          <div class="col">
                            <hr />
                          </div>
                          <div class="col-auto" style="color: #667085">OR</div>
                          <div class="col">
                            <hr />
                          </div>
                        </div>
                        <p class="radioOption-Item mb-2">
                          <input type="radio" name="BannerTypes" id="BannerType2" value="patient" formControlName="role"
                            name="role" class="ng-valid ng-dirty ng-touched ng-empty" aria-invalid="false" />
                          <label for="BannerType2" class="fs-6">
                            <div class="row d-flex justify-content-center align-items-center text-center">
                              <div class="col-2">
                                <img style="height: 50px; width: 50px" src="../../assets/learner.svg" alt="" />
                              </div>
                              <div class="col-10 align-items-start text-start"
                                style="font-size: 16px; font-weight: 700">
                                I am a Patient Model
                              </div>
                            </div>
                          </label>
                        </p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button mat-flat-button type="submit" class="btn-signin btn-lg px-5 my-3 shadow-sm"
                          (click)="register()">
                          Continue
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup" label="Confirm your email">
            <!-- <div class="container"> -->
            <div class="mt-5">
              <div class="col-12 col-sm-6 p-0">
                <div class="d-flex justify-content-end align-items-center text-center m-0 p-0" style="height: 100%">
                  <div class="box position-relative">
                    <div class="mx-2 mx-sm-5 justify-content-center align-items-center text-center">
                      <div class="m-5 justify-content-center align-items-center">
                        <img src="../../assets/mailicon.png" />
                        <h2 class="mt-5" style="
                            font-size: 30px;
                            font: weight 700px;
                            color: #101828;
                          ">
                          Confirm your email
                        </h2>
                        <p style="
                            font-size: 12px;
                            font: weight 400px;
                            color: #667085;
                          ">
                          Thanks for signing up! <br />
                          <br />
                          We sent you a confirmation email. <br />
                          Click the link in the email to confirm your email
                          address.
                        </p>
                        <form action="">
                          <div class="d-flex justify-content-center">
                            <button mat-flat-button type="submit" class="btn-signin btn-lg px-5 my-3 shadow-sm">
                              Open email app
                            </button>
                          </div>
                          <div class="d-flex justify-content-center my-4">
                            <p class="fs-6 fontStyle">
                              Didn’t receive the email?
                              <span style="color: #0c58cb">Click to resend</span>
                            </p>
                          </div>
                          <div class="d-flex justify-content-center my-4">
                            <p class="fs-6 fontStyle">
                              Back to
                              <span style="color: #101828" routerLink="/login">log in</span>
                            </p>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center my-4">
              <!-- <button mat-button matStepperPrevious color="accent"
                      class="border mx-2">Back</button>
                      <button mat-button matStepperNext
                      class="border mx-2"  style="background-color: #0C58CB;color: #ffff;">Next</button> -->
            </div>
            <!-- </div> -->
          </mat-step>
          <mat-step label="your all set">
            <div class="container">
              <div class="d-flex justify-content-center align-items-center text-center m-0 p-0" style="height: 100%">
                <div class="box1 position-relative">
                  <div class="mx-2 mx-sm-5 justify-content-center align-items-center text-center">
                    <div class="m-5 justify-content-center align-items-center">
                      <img src="../../assets/passicon.png" />
                      <h2 class="mt-5" style="
                          font-size: 30px;
                          font: weight 700px;
                          color: #101828;
                        ">
                        You’re all set!
                      </h2>
                      <p style="
                          font-size: 12px;
                          font: weight 400px;
                          color: #667085;
                        " routerLink="login">
                        Your account was successfully created.<br />
                        Click below to sign in.
                      </p>

                      <div class="d-flex justify-content-center">
                        <button mat-flat-button type="submit" class="btn-signin btn-lg px-5 my-3 shadow-sm"
                          routerLink="login">
                          Go to Sign In
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center my-4">
                <!-- <button mat-button matStepperPrevious color="accent"
                      class="border mx-2">Back</button>
                      <button mat-button matStepperNext
                      class="border mx-2"  style="background-color: #0C58CB;color: #ffff">Next</button> -->
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
  </div>
</div>