.imfLeaf{
    max-width: 10%;
    min-width: 10%;
}


.fontwt{
    font-weight: 500;
}

.inputextcolor{
    color: #344054;
}

.btnBlue{
    background-color: #4C259F;
    color: white;
}

.btnBlue:hover{
    background-image: linear-gradient(to bottom left , #4c259f 35%, #a481ef 100%);
}