<div class="container-fuild  p-lg-5  d-flex justify-content-center" style="background-color: #F5F5F5;">
    <!-- <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div> -->
    <div class="col-12 col-sm-10 col-md-10 col-lg-10 pt-5 mt-5 p-4">
        <!-- <div class="container m-5 p-5 rounded-3" style="background-color:#FFFF;"> -->
            <div class="container py-3  rounded-3"  style="background-color:#0D1842" width="20%">
                <div  class="d-flex justify-content-center">
                    <img class="imfLeaf" src="../../assets/leaf.png" alt="" >
                    
                </div>
                <p class="fs-4 d-flex justify-content-center" style="color:white">the botox course</p>
                
              
        <!-- </div> -->
            </div>

            <div class="container rounded-3" style="background-color:#FFFF;">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 p-5">
                        <div class="border rounded-3  p-4">
                            <p class="fs-2 mt-3 fw-bold">Checkout</p>
                            <div class="pt-4 d-flex justify-content-between">
                                <p>Botox/dysport (desposit)</p>
                                <p>$150.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p>Applicable credits</p>
                                <p>$0.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p >Subtotal</p>
                                <p>$150.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p >Tax</p>
                                <p>$7.50</p>
                            </div>

                            <div class="mt-5"><hr></div>
                            <div class="fs-5 pt-4 d-flex justify-content-between">
                                <p class="fs-3 fontwt" >Total</p>
                                <p class="fs-3 text-primary fontwt" >$157.50</p>
                            </div>
                            <!-- <button mat-button class="btn btn-block btn-lg btnBlue py-2 rounded-3 my-5 fs-6 text-white">
                                Continue To Payment
                            </button> -->
                            <small class="py-5">
                                <span class="fontwt" > Important notice: </span> this deposit is non-refundable.
                                If you do not show up/ or cancel this appointment, you agree to forfeit your deposit.
                            </small>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 p-5">
                        <div class="container">
                            <p class="fs-5 fontwt lh-base mt-4" style="color:#101828"> Enter Billing Information</p>
                            <p class="fs-6 fontwt mt-4"> Credit or debit card details</p>

                            <div class="row mt-4">
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                                <label for="" class="form-label inputextcolor">Name on card</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Name on card">
                                </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                    <label for="" class="form-label inputextcolor">Expiry</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput type="number" id="myNumber" placeholder="06 / 2024">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                                <label for="" class="form-label inputextcolor">Card number</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput type="number" id="myNumber" placeholder="1234 1234 1234 1234">
                                    <mat-icon matPrefix>
                                        <img src="../../assets/svg/Payment method icon.svg" class="w-100" style="margin-bottom: 20%;" alt="">
                                    </mat-icon>
                                </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                <label for="" class="form-label inputextcolor">CVV</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput type="number" id="myNumber" placeholder="06 / 2024">
                                </mat-form-field>
                                </div>
                            </div>

                            <hr>

                            <p class="fs-6 fontwt mt-4">Billing address</p>

                            <div class="col-12 mt-4">
                                <label for="" class="form-label inputextcolor">Country</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Select country</option>
                                    <option value="1">India</option>
                                    <option value="2">US</option>
                                    <option value="3">UK</option>
                                </select>
                            </div>    

                            <div class="col-12 mt-3">
                                <label for="" class="form-label">Street address</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Street address">
                                </mat-form-field>
                            </div>


                            <div class="col-12 ">
                                <label for="" class="form-label">City</label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="City">
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-8 col-md-8 col-lg-8 ">
                                    <label for="" class="form-label">State/Province</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="State/Province">
                                    </mat-form-field>
                                </div>

                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 ">
                                    <label for="" class="form-label">Postal Code</label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="H1A 2B1">
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <hr>

                            <div class="form-check">
                                <input class="form-check-input  lh-base" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label lh-base" for="flexCheckDefault">
                                    I agree to Terms of Service & Privacy Policy
                                </label>
                            </div>
                            <div class="d-flex justify-content-center"> 
                                <button mat-button class="btn btn-block btnBlue 
                                 py-2 rounded-3 my-5 fs-6 w-75 text-white" routerLink="/payementsucessfull">
                                    Pay Now
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- <div class="col-12 col-sm-1 col-md-1 col-lg-1"></div> -->
</div>