.grayClr {
    color: #667085;
}
.homeImg{
    margin-right: 12px;
}

.sec1MatArrowFrontEnd {
    font-size: 18px;
    color: #D0D5DD;
      margin-right: 12px;
    // padding: 1px 30px 10px 15px;
}
.sec1Text{
    margin-right: 12px;
}

.sec2HeadFrontEnd{
    font-size: 27px;
    font-weight: 500;
}
.sec3HeadFrontEnd{
    font-size: 19px;
    font-weight: 500;
}

.sec3TextFrontEnd{
    color: #667085;
    font-size: 13px;
}
.PreviewHead{
    font-size: 23px;
    font-weight: 500;
}

.lastSecBox{
    background-color: #6941C6;
    color: white;
    padding:14px ;
}
.boxText{
    font-size: 15px;
}
.boldText{
    font-weight: 500;
}
.normalText{
    font-weight: 100;
}
.CreateNotificationBtn{
    background-color:#6941C6;
    color :white;
    font-size: 15px;
    font-weight: 400;
}
.CancleBtn{
    color: #344054;
    border-color:#D0D5DD;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
    
}
