<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="homeImg">
            </div>

            <mat-icon class=" sec1MatArrowFrontEnd ">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">Settings</p>
            <mat-icon class="sec1MatArrowFrontEnd">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">System Notifications </p>
            <mat-icon class="sec1MatArrowFrontEnd">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">[Create/Edit] Front End System Notification </p>

        </div>
    </div>
    <div class="container">
        <div class="d-flex">
            <mat-icon style="width:16px; margin-right: 40px;" class="grayClr">keyboard_backspace</mat-icon>
            <p class="sec2HeadFrontEnd"> System Notifications</p>
        </div>
        <div class="">
            <hr style="color: #667085;">
            <div class="row py-2">
                <div class="col-12 col-sm-6">
                    <p class=" p-0 m-0  sec3HeadFrontEnd">[Create/Edit] Front End System Notification</p>
                    <p class=" pt-2 m-0 sec3TextFrontEnd">Customize your system notification here</p>
                </div>
                
                <div class="col-12 col-sm-6"></div>
            </div>
            <hr style=" color: #667085;">
            <div class="row">
                <div class="col-12 col-md-6">
                        <p> Display Message</p>
                        <input type="text" style="width:100%">

                        <div class="">
                            <p class="fw-bold ">Select Color</p>
                            <input type="color"/>
                        </div>          
                    
                </div>
                <div class="col-md-12 col-md-6"></div>
            </div>
            <p class="PreviewHead pt-3">Preview</p>
            <div class="py-2 pb-4">
                <div class="row lastSecBox">
                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-8">
                        <p class="m-0 p-0 text-center boxText">We’ve just launched a <u class="boldText">new
                        course</u>! <span class="normalText">Seats are limited.</span><span class="boldText">
                         Register Now!</span></p>
                    </div>
                    <div class="col-12 col-md-2 d-flex justify-content-end">
                        <mat-icon class="">clear</mat-icon>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container py-4 mb-5 pb-5">
                <div class=" d-flex py-1">
                    <button mat-stroked-button class="CancleBtn">Cancle</button>
                    <button mat-stroked-button class="CreateNotificationBtn">Create Notification</button>
                   </div>
            </div>
        </div>
    </div>
</div>