<div class="container-fluid" class="herosSec">
  <div class="row d-flex justify-content-center align-items-center" style="height:100%">
    <div class="col-12 col-md-8 col-lg-8 col-xl-8">
      <p class="fs-1 text-center  lh-base textgradient" style="margin-top: 10% !important; word-wrap: break-word; "
        data-aos="zoom-out-up" data-aos-delay="400">Finance your<br> Medical Aestheitcs Training</p>
      <p class="text-center  lh-base fs-3 fw-light py-2" style="color: #8e8e8e; word-wrap: break-word;"
        data-aos="zoom-out-up" data-aos-delay="800">
        Aesthetics Canada Is Proud To Offer Various Payment Plans</p>
      <div class="d-flex justify-content-center  " data-aos="zoom-out-up" data-aos-delay="1200">
        <button mat-flat-button class="lh-base btnview mt-4 fw-light">
          <mat-icon>keyboard_arrow_down</mat-icon>Explore Plans
        </button>
      </div>
    </div>
  </div>

</div>


<div class="container-fluid py-5" style="background-color: #F5F5F5;">
  <div class="container py-lg-5">
    <div class="row d-flex justify-content-center py-lg-4">
      <p class=" fw-light lh-base  text-center" data-aos="zoom-out-up" data-aos-delay="400"
        style="word-wrap:break-word; font-size: 3.8em;">Explore
        Payment Plans</p>
      <p class="mt-3 fw-lighter lh-base fs-5  text-center" data-aos="zoom-out-up" data-aos-delay="800">Choose a payment
        plan
        that suits your needs</p>
      <!-- ATC financing start -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 mt-3 p-3">
        <div class=" bg-white ATCbox" style="height:100%">
          <div class="blueBgClr ">
            <p class="text-center text-white ATCtext1 p-0 m-0 pt-2">ATC Financing</p>
            <p class="text-center text-white ATCtext2 m-0 p-0 py-2 pb-3">Buy Now, Pay Later</p>
          </div>
          <p class="text-center ATCtext3  d-flex justify-content-center  lh-lg py-3">Pay Before Hands-On Training</p>
          <hr class="m-0 p-0 mx-1">
          <div class="pt-4 mb-5 pb-2">
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Easy Setup</p>
            </div>
            <div class="d-flex m-0 p-0  pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Low Setup Fee </p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">0% Interest </p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">No Impact on Credit Score </p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button mat-button class="exploreCourseBtn d-flex justify-content-center" routerLink="/course-page"> Explore
              Courses</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 col-xl-4 mt-3 p-3 ">
        <div class=" bg-white  ATCbox" style="height:100%">
          <div class="blueBgClr ">
            <p class="text-center text-white ATCtext1 p-0 m-0 pt-2">ATC Financing</p>
            <p class="text-center text-white ATCtext2 m-0 p-0 py-2 pb-3">Buy Now, Pay Later</p>
          </div>
          <p class="text-center ATCtext3 d-flex justify-content-center lh-lg py-3">Pay After Hands-On Training</p>
          <hr class="m-0 p-0 mx-1">
          <div class="pt-4 mb-4">
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Easy Setup</p>
            </div>
            <div class="d-flex m-0 p-0  pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Low Setup Fee </p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Low Interest Rates </p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Relaxed Payment Schedule</p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">No Impact on Credit Score</p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button mat-button class="exploreCourseBtn  d-flex justify-content-center " routerLink="/course-page">
              Explore Courses</button>
          </div>
        </div>


      </div>
      <div class="col-12 col-md-6  col-lg-4 col-xl-4 mt-3 p-3">
        <div class=" bg-white ATCbox" style="height:100%">
          <div class="darkBlueBgClr ">
            <p class="text-center text-white ATCtext1 p-0 m-0 pt-2">Third Party Financing</p>
            <p class="text-center text-white ATCtext2 m-0 p-0 py-2 pb-3">Medicard</p>
          </div>
          <p class="text-center d-flex justify-content-center ATCtext3 lh-lg py-3 ">Easy, Flexible Payment Arrangements
          </p>
          <hr class="m-0 p-0 mx-1">
          <div class="pt-4 mb-5 pb-2">
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints2.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">No Upfront Costs</p>
            </div>
            <div class="d-flex m-0 p-0  pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints2.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">High Approval Rates </p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints2.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Low Monthly Payments </p>
            </div>
            <div class="d-flex m-0 p-0 pb-3">
              <img src="./../../assets/svg/ATCfinancingPoints2.svg" alt="" class="m-0 p-0">
              <p class="m-0 p-0 mx-3 ATCtext4">Competitive Interest Rates </p>
            </div>
          </div>
          <div class="d-flex justify-content-center" style="margin-top:14%;">
            <button mat-button class="applybtnATC d-flex justify-content-center">Apply Now</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- sec medicard  -->
<div class="container-fluid py-5 medicardBgClr">
  <div class="container mt-5">
    <p class="text-center lh-base fs-1" style="word-wrap:break-word">Medicard Financing</p>
    <div class="d-flex justify-content-center">
      <hr width="90" class="hrsec1" />
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 p-5">
        <img src="./../../assets/medicard-img.png" alt="" class="w-100" />
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6 py-5">
        <p class="medicardText fs-5" style="text-align: justify">
          Medicard offers a simple and affordable way to finance your medical
          career, allowing you to immediately begin training without the upfront
          costs. You can structure payments to suit your budget and allowance.
          Other benefits include high approval rates, low monthly payments, and
          competitive interest rates. To find out more visit the Medicard
          website.
        </p>

        <div class="d-flex justify-content-center pt-5">
          <button class="medicardBtn ">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- help form 2 start -->
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 m-0 p-0">
      <img src="./../../assets/helpform2Img.svg" alt="" width="100%" />
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 m-0 p-5">
      <form style="display: grid" [formGroup]="questionsForm">
        <p class="textBlue fs-1 py-2 lh-base">Still have questions?</p>
        <p class="lh-base sec5Text">
          Fill in the form below and our Course Coordinator will contact you
          shortly.
        </p>
        <p>Email Address</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="codeabr@gmail.com" formControlName="user_email" />
        </mat-form-field>
        <p>Name</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Name" formControlName="user_name" />
        </mat-form-field>

        <p>Phone Number</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="--- --- -----" formControlName="user_mobile" />
        </mat-form-field>

        <p>Message</p>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Type your Message" formControlName="user_message"></textarea>
        </mat-form-field>

        <button mat-button class="submitBtn mt-4" (click)="addQuestions()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>



<!-- <div class="container-fuild  mt-5" style="background-color: #f5f5f5;">
    <div class="container p-5">
        <p class="mt-5 pt-5 fs-2 fw-light lh-base text-center">Third Party Financing</p>
        <div class="justify-content-center d-flex" >
            <hr width="90" class="mt-2 hrLine" >
        </div>


        <div class="row">
            <div class="col-12 col-lg-6 col-sm-6 col-md-6 mt-5 pt-5">
                <p class="p-5 m-4 lh-base fw-light align-text-justify">
                    Medicard offers a simple and affordable way to finance your medical career, allowing you to immediately begin training without the upfront costs. 
                    You can structure payments to suit your budget and allowance. Other benefits include high approval rates, low monthly payments, and competitive 
                    interest rates. To find out more visit the Medicard website.
                </p>

            </div>


            <div class="col-12 col-lg-6 col-sm-6 col-md-6 mt-5 p-5 ">
                <img src="./../../assets/medicard-img.png" alt="" class="w-100" />
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button mat-button class="btnapply">Apply Now</button>
        </div>
    </div>
</div>     -->