<!-- Heros Section Start -->
<div class="container-fluid herosSecBgImg row d-flex justify-content-center align-items-center">
  <video autoplay loop id="myVideo" [muted]="'muted'" class="m-0 p-0">
  <source src="../../assets/Botox-Course-V2.mp4" type="video/mp4">
</video>
  <div class="row d-flex  justify-content-center align-items-center" style="position:relative;">
    <div class="col-12 col-sm-6 col-md-10 col-lg-7 col-xl-7">
      <div class="">
        <p class="text-white lh-base text-center herosSecText" data-aos="zoom-out-up" data-aos-delay="400">
          The Highest Standard <br />in Medical Aesthetics Training
        </p>
        <div class="d-flex justify-content-center pt-lg-3">
          <button mat-button class="herosBtn px-lg-4" data-aos="zoom-out-up" data-aos-delay="1200">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The video -->




<!-- Heros Section end -->
<!-- <div class="container py-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 ">
      <p class="headBlue fs-1 lh-1">Upcoming Hands-on Training</p>
      <hr width="90" class="hrsec1" />
      <table mat-table [dataSource]="allCourseSchedule">
     
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="border-0"></th>
          <td mat-cell *matCellDef="let element">
            <p class="m-0 textBlue fs-5 mt-2">{{element.city}},{{element.state}},{{element.country}}</p>
            <p class="mt-2 fs-6">{{element.dates[0] | date}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="course_name">
          <th mat-header-cell *matHeaderCellDef class="border-0"></th>
          <td mat-cell *matCellDef="let element">
            <p class="fw-bold">{{element.courseMaster.name}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="spots">
          <th mat-header-cell *matHeaderCellDef class="border-0"></th>
          <td mat-cell *matCellDef="let element">
            <p class="text-danger fw-bold">{{element.learnerCapacity}} Spot Left</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="border-0"></th>
          <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="primary" class="btnenroll">Enroll Now</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 m-0 p-0 secBgImg">
      <p class="text-white fs-1 lh-base p-5">Get Certified in 2 Easy Steps</p>
      <div class="container">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div class="borderRight ml-5">
              <p class="text-white fs-4 lh-base secTwo">
                <span> Step 1: Online Didactic Training </span>
              </p>
            </div>
            <div class="secTwo">
              <p class="text-white lh-base">
                Enrol in comprehensive didactic lectures online. The self-paced,
                immersive didactic lessons provide learners with the most
                advanced techniques in the industry. Upon completion, learners
                come away with the knowledge and confidence to begin hands-on
                training.
              </p>
            </div>
          </div>

          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div class="borderRight ml-5">
              <p class="text-white fs-4 lh-base secTwo">
                <span class="lh-base">
                  Step 2: Hands-on Clinical Training
                </span>
              </p>
            </div>
            <div class="secTwo">
              <p class="text-white lh-base">
                Our clinical training offers the most hands-on experience
                anywhere in the country. Medical professionals will learn the
                safest injection techniques while producing incredible results.
                Graduates from our courses experience significant growth in
                their practice, including an increase in revenue and personal
                satisfaction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container ">
  <div class="row ">
    <div class="col-12 col-md-4 col-lg-4 col-xl-4 secBgImgSec2column1">
      <div class="py-5 px-3">
        <p class="text-white sec2HeadText1column1 lh-1">Get Certified in</p>
        <p class="text-white sec2HeadText2column1 pt-2 lh-1">2 Easy Steps</p>
      </div>
      <div class="px-3">
        <div class="d-flex">
          <div class="">
            <img src="./../../assets/svg/HomeSvg1.svg" alt="" class="pt-3 m-0 p-0" />
          </div>
          <div class="mx-3">
            <p class="text-white m-0 p-0 sec2Stepcolumn1">Step 1:</p>
            <hr width="55" class="p-0 m-0 hrsec2" />
            <p class="text-white p-0 m-0 py-3 sec2StepHeadcolumn1">
              Online Didactic Training
            </p>
          </div>
        </div>
        <p class="text-white sec2Column1Para">
          Enrol in comprehensive online didactic lectures. The
          self-paced, immersive didactic lessons provide learners with
          the most advanced techniques in the industry. Upon completion,
          learners come away with the knowledge and confidence to begin
          hands-on training.
        </p>
      </div>
      <div class="py-5">
        <div class="d-flex">
          <div class="">
            <img src="./../../assets/svg/HomeSvg2.svg" alt="" class="pt-3 sec2Icon2" />
          </div>
          <div class="mx-3">
            <p class="text-white m-0 p-0 sec2Stepcolumn1">Step 2:</p>
            <hr width="55" class="p-0 m-0 hrsec2" />
            <p class="text-white p-0 m-0 py-3 sec2StepHeadcolumn1">
              Hands-on Clinical Training
            </p>
          </div>
        </div>
        <p class="text-white sec2Column1Para2">
          Our clinical training offers the most hands-on experience
          anywhere in the country. Medical professionals will learn
          the safest injection techniques while producing incredible
          results. Graduates from our courses experience significant
          growth in their practice, including an increase in revenue
          and personal satisfaction.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-8 col-md-8 col-xl-8 sec2BgCLrcolumn2 p-lg-5">
      <p class="headBlue lh-base">Upcoming Hands-on Training</p>
      <div class="hrsecUpcoming">
           <hr width="90"  style="opacity: 1.25; height:4px;"  />
      </div>
   
      <div class="py-4 table-responsive">
        <table class="" mat-table [dataSource]="allCourseSchedule">

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="border-0"></th>
            <td mat-cell *matCellDef="let element">
              <p class="m-0 textLightBlue mt-2">{{element.city}},{{element.state}},{{element.country}}</p>
              <p class="mt-2 tableDate">{{element.dates[0] | date}}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="course_name">
            <th mat-header-cell *matHeaderCellDef class="border-0"> </th>
            <td mat-cell *matCellDef="let element">
              <p class="fw-bold px-2"> {{element.courseMaster.name}}</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="spots">
            <th mat-header-cell *matHeaderCellDef class="border-0"> </th>
            <td mat-cell *matCellDef="let element">
              <p class="text-danger px-2 fw-bold">{{element.courseMaster.handsOnTraining}}  Spot Left</p>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="border-0"> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="primary" class="btnenroll " (click)="goToHandsOnCourseDetails(element)">Enroll Now</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- About section 3 start -->
<div class="container-fluid sec3BgImg py-5">
  <div class="container">
    <div class="row d-flex justify-content-center my-5 ">
      <div class="col-12 col-md-11 col-lg-11 m-0 p-0">
        <p class="sec3HeadText lh-base text-white text-center">the botox course is the Gold Standard Neuromodulator
          Training available in North America, offering the most comprehensive, practical, and anatomy-based education.
        </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-5">
      <div class="col-12 col-md-11 col-lg-11 ">
        <div class="row ">
          <div class="col-12 col-md-4 col-lg-4" style="text-align:center;">
            <img src="./../../assets/svg/Home_Svg3.svg" alt="" class="sec3Icon1 ">
            <p class="text-white sec3PointText text-center pt-4 lh-base px-lg-5"> 100% Hands-On Training</p>

          </div>

          <div class="col-12 col-md-4 col-lg-4 " style="text-align: center">
            <img src="./../../assets/svg/HomeSvg4.svg" alt="" class="sec3Icon2" />
            <p class="text-white sec3PointText text-center pt-4 lh-base  px-lg-4">
              Operated by Physicans & Nurses
            </p>
          </div>


          <div class="col-12 col-md-4 col-lg-4 " style="text-align: center">
            <img src="./../../assets/svg/HomeSvg5.svg" alt="" class="sec3Icon3" />
            <p class="text-white sec3PointText text-center pt-4 lh-base px-lg-5">
              Nursing Discount Available
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- course box section start -->
<div class="container-fluid py-5" style=" background-color:#eeeeee;">
  <div class="container py-5 " style="max-width: 1170px;">
    <div class="row py-lg-4">
      <div class="col-12 col-md-9 col-lg-9">
        <p class=" lh-1 popularCorusesText1">Popular Courses</p>
        <div class="hrLineCourseSec">
          <hr
          style="width:56px; height:5.5px; align-items: center; background: linear-gradient(to right, #876dbe 0%, #451aa2 100%); opacity: 1.25;">
        </div>
        <p class=" popularCorusesText2 lh-base ">the botox course is the Gold Standard Neuromodulator
          Training available in North America
        </p>
        
      </div>
      <div class="col-12 col-md-3 col-lg-3 py-3 viewAllBtn1">
        <button mat-button class="viewAllBtn" routerLink="/course-page">
         <img src="./../../assets/icons8-menu-78.png" alt="" class="w-25">   VIEW ALL</button>
      </div>
    </div>
    <div class="row d-flex text-center pb-5">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4" style="margin-bottom: 3em;" *ngFor="let course of allCourse">
        <div class="CourseBoxBgClr ">
          <p class="text-center pt-4 lh-1" style="height: 3.3em; font-size: 1.6em;">{{ course.name }}</p>
          <img [src]="course.image" alt="" style="width: 100%; height: 200px" class="courseBoxImg" />

          <div class="d-lg-flex align-items-center justify-content-spaceEvenly py-4 px-2">
            <div class="d-flex align-items-center ">
              <mat-icon class="mx-2">play_arrow</mat-icon>
              <p class="courseBoxPara2">{{ course.onlineLessons || 0 }} lessons</p>
            </div>
            <div class=" d-flex align-items-center">
              <mat-icon class="mx-lg-2 courseIcons">access_time</mat-icon>
              <p class="courseBoxPara2">
                {{ course.handsOnTraining || 0 }} Day Hands-on Training
              </p>
            </div>
          </div>
          <p class="text-center text-over courseBoxPara lh-base">
            {{ course.shortDescription }}
          </p>
          <p class="text-center fs-3 fw-bold py-3">
            CA ${{ course?.courseSchedules[0]?.price }}
          </p>
          <p class="text-center fs-6 p-0 m-0"><i>plus applicable taxes</i></p>
          <hr class="p-0 m-0" />
          <div class=" d-flex justify-content-between pt-3">
            <p class="courseViewText mt-2" (click)="goToDetails(course)">View Course</p>
            <!-- <button  class="courseViewText mt-2" (click)="goToDetails(course)" routerLink="">View Course</button> -->
            <!-- <p class="courseViewText mt-3">View Course</p> -->
            <button class="addToCartBtn " routerLink="">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- new doc section5 start-->
<div class="container-fluid newSec5BgClr py-5 ">
  <div class="container py-5 my-lg-5">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-11 col-lg-12 col-xl-12">
        <p class="text-white text-center  CosmeticText">
          Cosmetic neuromodulators are the #1 minimally invasive procedure
          performed in North America
        </p>
        <p class="  text-center mt-4 CosmeticText2">Demand in facial
          rejuvenation procedures continue to
          grow</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center py-5 my-3" data-aos-id="counter" data-aos="fade-up" data-aos-delay="200">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <h1 class="text-center newSec5Num py-4 fs-1 fw-bold">{{projectcount + "+" + " million"}}</h1>
        <p class="text-white text-center counterText lh-base">Injections Administered</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <h1 class="text-center newSec5Num py-4 fs-1 fw-bold">{{"$" + pertreatment}}</h1>
        <p class="text-white text-center counterText lh-base">Average cost per Treatment</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <h1 class=" text-center newSec5Num  py-4 fs-1 fw-bold">{{industrygrow + "%"}}</h1>
        <p class="text-white text-center counterText lh-base">Industry Growth since 2000</p>
      </div>
    </div>
    <div class="d-flex justify-content-center ">
      <button mat-button class="seatBtn px-lg-4">Secure Your Seat Today</button>
      <!-- <button routerlink="" class="addToCartBtn" tabindex="0" ng-reflect-router-link=""> Add to Cart </button> -->
    </div>
    
  </div>
</div>

<!-- help Form  start -->
<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 m-0 p-0">
      <img src="./../../assets/Home_img11.png" alt="" width="100%" />
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 pt-5 m-0 p-5">
      <form style="display: grid" [formGroup]="questionsForm">
        <p class="textBlue fs-1 py-2">Still have questions?</p>
        <p class="lh-base sec5Text">
          Fill in the form below and our Course Coordinator will contact you
          shortly.
        </p>
        <p>Email Address</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="codeabr@gmail.com" formControlName="user_email" />
        </mat-form-field>
        <p>Name</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Name" formControlName="user_name" />
        </mat-form-field>

        <p>Phone Number</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="--- --- -----" formControlName="user_mobile" />
        </mat-form-field>

        <p>Message</p>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Type your Message" formControlName="user_message"></textarea>
        </mat-form-field>

        <button mat-button class="submitBtn mt-4" (click)="addQuestions()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div> -->



<!-- CTA Patient Model start -->
<div class="container-fluid CTABgImg ">
  <div class="container">
    <div class="row pt-5 ">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="row ">
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <div class="border-end">
              <p class="secCTAtext1 ">Filler Treatments</p>
              <p class="secCTAtext2 pt-1">
                $200 <small class="smalltext">per syringe </small>
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <p class="secCTAtext1 ">Botox/Dysport Treatments</p>
            <p class="secCTAtext2 pt-1">
              $6 <small class="smalltext">per unit </small>
            </p>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 col-xl-6  mt-sm-3 ">
        <div class="ratingBox">
          <div class="d-grid googleBgclr">
            <div class="d-flex align-items-center">
              <img src="./../../assets/testimonials-img2.png" alt="" class="googleImg" />
              <div class="d-flex justify-content-between align-items-center">
                <mat-icon class="goldStar testimonialCardStar">star</mat-icon>
                <mat-icon class="goldStar testimonialCardStar">star</mat-icon>
                <mat-icon class="goldStar testimonialCardStar">star</mat-icon>
                <mat-icon class="goldStar testimonialCardStar">star</mat-icon>
                <mat-icon class="goldStar testimonialCardStar">star</mat-icon>
              </div>
            </div>
            <div>
              <p class=" ratingText m-0 p-0">
                4.5 Average Rating from our Models
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="bg-white p-4 bookTreatmentBox">
          <p class="secCTAtext3">
            Are you interested in becoming a Patient Model?
          </p>
          <p class="secCTAtext4 lh-base">
            the botox course trains licensed health care professionals on how to
            inject neuromodulators. Part of becoming a qualified injector is
            supervised, hands-on training for learners. Our courses are offered
            all across Canada. Check out what treatments are available near you.
          </p>
          <div class=" mt-3">
            <button mat-button class="bookTreatmentBtn" routerLink="/page8">
              Book Treatment
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6"></div>
    </div>
  </div>
</div>

<!-- course box2 start -->
<!-- <div class="container-fluid ">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 p-4 m-0">
            <div class="courseBox2BgImg">
                <p class="text-white text-center fs-4 pt-5 pb-3">the botox course</p>
                <p class="text-white text-center  lh-base courseBox2Para">
                    the botox course is the leading neuromodulator training program in Canada.
                </p>

                <hr class="m-0 px-0 text-white">
                <div class="d-flex justify-content-center align-items-start py-2 pt-3">
                    <img src="./../../assets/svg/svgPlay.svg" alt="">
                    <p class="text-white mx-2 courseBox2Text ">51 Lessons <span class="courseLightText">(averages
                            $34/lesson)</span></p>
                </div>
                <div class="d-flex justify-content-center align-items-start pb-4 ">
                    <img src="./../../assets/svg/clock2Svg.svg" alt="">
                    <p class="text-white mx-2 courseBox2Text">2 Days of Hands-on Training</p>
                </div>
            
                <div class="pt-3">
                    <p class="text-center text-white fs-2 m-0 p-0 ">$1,795.00</p>
                    <p class="pt-1 pb-2 text-center text-white courseLightText2">plus applicable taxes</p>

                </div>
            </div>

            <div class="px-4 mt-3">
                <button mat-button class="viewCourseBtn ">View Course</button>
                <button mat-button class=" addToCartBtn2">Add To Cart</button>
            </div>


        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-4">
            <div class="courseBox2BgImg">
                <p class="text-white text-center fs-4 pt-5 pb-3">the botox course</p>
                <p class="text-white text-center  lh-base courseBox2Para">
                    the botox course is the leading neuromodulator training program in Canada.
                </p>

                <hr class="m-0 px-0 text-white">
                <div class="d-flex justify-content-center align-items-start py-2 pt-3">
                    <img src="./../../assets/svg/svgPlay.svg" alt="">
                    <p class="text-white mx-2 courseBox2Text ">51 Lessons <span class="courseLightText">(averages
                            $34/lesson)</span></p>
                </div>
                <div class="d-flex justify-content-center align-items-start pb-4 ">
                    <img src="./../../assets/svg/clock2Svg.svg" alt="">
                    <p class="text-white mx-2 courseBox2Text">2 Days of Hands-on Training</p>
                </div>
         
                <div class="pt-3">
                    <p class="text-center text-white fs-2 m-0 p-0 ">$1,795.00</p>
                    <p class="pt-1 pb-2 text-center text-white courseLightText2">plus applicable taxes</p>

                </div>
            </div>

            <div class=" px-4 mt-3">
                <button mat-button class="viewCourseBtn ">View Course</button>
                <button mat-button class=" addToCartBtn2">Add To Cart</button>
            </div>

        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-0 p-4">
            <div class="courseBox2BgImg">
                <p class="text-white text-center fs-4 pt-5 pb-3">the botox course</p>
                <p class="text-white text-center  lh-base courseBox2Para">
                    the botox course is the leading neuromodulator training program in Canada.
                </p>

                <hr class="m-0 px-0 text-white">
                <div class="d-flex justify-content-center align-items-start py-2 pt-3">
                    <img src="./../../assets/svg/svgPlay.svg" alt="">
                    <p class="text-white mx-2 courseBox2Text ">51 Lessons <span class="courseLightText">(averages
                            $34/lesson)</span></p>
                </div>
                <div class="d-flex justify-content-center align-items-start pb-4 ">
                    <img src="./../../assets/svg/clock2Svg.svg" alt="">
                    <p class="text-white mx-2 courseBox2Text">2 Days of Hands-on Training</p>
                </div>
           
                <div class="pt-3">
                    <p class="text-center text-white fs-2 m-0 p-0 ">$1,795.00</p>
                    <p class="pt-1 pb-2 text-center text-white courseLightText2">plus applicable taxes</p>

                </div>
            </div>

            <div class=" px-4 mt-3">
                <button mat-button class="viewCourseBtn ">View Course</button>
                <button mat-button class=" addToCartBtn2">Add To Cart</button>
            </div>


        </div>
    </div>
</div> -->




<!-- testimonial -->
<div class="container-fluid py-5 " style="background-color:#eeeeee;">
  <div class="py-5 my-5">
    <div class="row d-flex justify-content-center ">
      <div class="col-12 col-md-5 col-lg-5 col-xl-5 ">
        <div class="d-flex justify-content-center ">
          <img src="./../../assets/total ratings.jpg" alt="">
        </div>
        <p class="text-center pt-5" style="font-size:2.9em; word-wrap: break-word;">Testimonials</p>
        <p class="text-center pt-4  testimonialLearner">Our Learners and Patient Models Speak For Us</p>
      </div>
    </div>
    <div class="container swiperMobile">
      <swiper [slidesPerView]="1" [navigation]="false" #swiperVirtualRef [pagination]="{ type: 'bullets' }"
        [virtual]="true" [scrollbar]="{ draggable: true }">

        <ng-template *ngFor="let Testimonial of TestimonialData; index as i" swiperSlide class="mb-5">
          <div class="testimonialCard p-4">
            <div class="d-flex justify-content-center">
              <img [src]="Testimonial.user.profile" alt="" class="" style="width: 45%; border-radius: 50%;">
            </div>

            <h3 class="text-center py-2 fs-5 lh base px-5 testimonialCardHead">{{Testimonial.user.firstName}}
              {{Testimonial.user.lastName}}</h3>
            <p class="text-center px-4 lh-base fs-6" style="text-align: justify">{{Testimonial.review}} </p>
            <div class="row d-flex justify-content-center">
              <mat-icon class="testimonialstar"> star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <!-- <ngb-rating [max]="5"   [readonly]="false"  [(rate)]="Testimonial.ratings" class="testimonialstar"></ngb-rating> -->
            </div>
          </div>
        </ng-template>

      </swiper>
    </div>
    <div class="container swiperTablet">
      <swiper [slidesPerView]="2" [navigation]="false" #swiperVirtualRef [pagination]="{ type: 'bullets' }"
        [virtual]="true" [scrollbar]="{ draggable: true }">

        <ng-template *ngFor="let Testimonial of TestimonialData; index as i" swiperSlide class="mx-2 mb-5">
          <div class="testimonialCard p-4">
            <div class="d-flex justify-content-center">
              <img [src]="Testimonial.user.profile" alt="" class="" style="width: 45%; border-radius: 50%;">
            </div>

            <h3 class="text-center py-1 fs-5 lh base px-5 testimonialCardHead">{{Testimonial.user.firstName}}
              {{Testimonial.user.lastName}}</h3>
            <p class="text-center px-3 lh-base fs-6" style="text-align: justify">{{Testimonial.review}} </p>
            <div class="row d-flex justify-content-center">
              <mat-icon class="testimonialstar"> star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <!-- <ngb-rating [max]="5"   [readonly]="false"  [(rate)]="Testimonial.ratings" class="testimonialstar"></ngb-rating> -->
            </div>
          </div>
        </ng-template>

      </swiper>
    </div>
    <div class="container swiperLaptop">
      <swiper [slidesPerView]="3" [navigation]="false" #swiperVirtualRef [pagination]="{ type: 'bullets' }"
        [virtual]="true" [scrollbar]="{ draggable: true }">

        <ng-template *ngFor="let Testimonial of TestimonialData; index as i" swiperSlide class="mx-2">
          <div class="testimonialCard p-4">
            <div class="d-flex justify-content-center">
              <img [src]="Testimonial.user.profile" alt="" class="" style="width: 45%; border-radius: 50%;">
            </div>

            <p class="text-center py-3  lh base px-5 testimonialCardHead">{{Testimonial.user.firstName}}
              {{Testimonial.user.lastName}}</p>
            <p class="text-center px-4 lh-base fs-6" style="text-align: justify">{{Testimonial.review}} </p>
            <div class="row d-flex justify-content-center">
              <mat-icon class="testimonialstar"> star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <mat-icon class="testimonialstar">star_border</mat-icon>
              <!-- <ngb-rating [max]="5"   [readonly]="false"  [(rate)]="Testimonial.ratings" class="testimonialstar"></ngb-rating> -->
            </div>
          </div>
        </ng-template>

      </swiper>
    </div>

    <div class="d-flex justify-content-center py-5">
      <button mat-button class="testimonialBtn" data-aos="zoom-out-up" data-aos-delay="1200">View Testimonials</button>
    </div>
  </div>
</div>



<div class="container-fluid bgNavyBlue py-5">
  <div class="container py-5 my-5 ">
    <swiper [slidesPerView]="5" [spaceBetween]="10" [navigation]="false"
      [autoplay]="{ delay: 1000, disableOnInteraction: false }" [scrollbar]="{ draggable: true }">
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/Dysport-logo.jpg" alt=""
          class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/botox-cosmetic-logo-6C4EC7CE43.png"
          alt="" class="dysportImgs text-white"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/xeominaesthetic-logo.svg.png"
          alt="" class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/Cynosure-Logo.png" alt=""
          class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/azzalure-logo.png" alt=""
          class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/Dysport-logo.jpg" alt=""
          class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/botox-cosmetic-logo-6C4EC7CE43.png"
          alt="" class="dysportImgs text-white"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/xeominaesthetic-logo.svg.png"
          alt="" class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/Cynosure-Logo.png" alt=""
          class="dysportImgs"></ng-template>
      <ng-template data-swiper-autoplay="2000" swiperSlide> <img src="./../../assets/azzalure-logo.png" alt=""
          class="dysportImgs"></ng-template>
    </swiper>
  </div>
</div>

<!-- <div class="container my-5 py-5">
  <div class="row d-flex justify-content-center py-5">
    <div class="col-12 col-md-8 col-lg-8 col-xl-8">
      <p class="patientModelTExt text-center lh-base" data-aos="zoom-out-up" data-aos-delay="400">Are you interested in
        becoming a patient model?</p>
      <div class="">
        <p class="text-center m-0 p-0 fs-6 " style="word-wrap:break-word;" data-aos="zoom-out-up" data-aos-delay="800">Our courses are offered all
          across
          Canada.</p>
        <p class="text-center mt-2 p-0 fs-6 " style="word-wrap:break-word;" data-aos="zoom-out-up" data-aos-delay="800"> Check out what treatments are
          available near you.</p>
      </div>
      <div class="d-flex justify-content-center ">
        <button mat-button class="ViewTreatments" data-aos="zoom-out-up" data-aos-delay="1200">View Treatments</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid" style=" height:40em" >
  <div class="container"  style=" height:40em">
    <div class="row d-flex justify-content-center align-items-center" style=" height:40em">
      <div class="col-12 col-md-11 col-lg-9 col-xl-9">
        <p class="patientModelTExt text-center m-0 p-0" data-aos="zoom-out-up" data-aos-delay="400">Are you interested in
          becoming a patient model?</p>
        <div class="py-4" data-aos="zoom-out-up" data-aos-delay="800">
          <p class="text-center m-0 p-0 patientModelTExt2" style="word-wrap:break-word;">Our courses are offered all
            across
            Canada.</p>
          <p class="text-center mt-2 p-0 patientModelTExt2 " style="word-wrap:break-word; font-weight: 100; " > Check out what treatments are
            available near you.</p>
        </div>
         <div class="d-flex justify-content-center ">
          <button mat-button class="ViewTreatments" data-aos="zoom-out-up" data-aos-delay="1200" routerLink="/treatment-page2">View Treatments</button>
        </div>
      </div>
    </div>
  </div>
</div>