.grayClr{
    color: #667085;
}
.homeImg{
    margin-right: 12px;
}
.sec1MatArrowCertificate{
    font-size: 18px;
    color:#D0D5DD; 
    margin-right: 12px;
    // padding: 1px 30px 10px 15px;

}
.sec1Text{
    margin-right: 12px;
}
.sec2HeadCertificate{
    font-size: 27px;
    font-weight: 500;
}
.sec3HeadCertificate{
    font-size: 18px;
    font-weight: 500;
}
.sec3TextCertificate{
    color:#667085;
    font-size: 12.7px;
}
.CertificateSaveBtn{
    background-color:#6941C6;
    color :white;
    width: 75px;

}
.CertificateCancleBtn{
width: 75px;
    border-color:#D0D5DD;
    margin-right: 10px;
  
}