<div class="container">
    <div class="row">
        <div class="d-flex py-5">
            <div>
                <img src="./../../../assets/AdminImg/Img1.svg" alt="" class="homeImg">
            </div>

            <mat-icon class=" sec1MatArrowCertificate ">keyboard_arrow_right</mat-icon>
            <p class="grayClr sec1Text">Settings</p>
            <mat-icon class="sec1MatArrowCertificate">keyboard_arrow_right</mat-icon>
            <p class="grayClr">Certificates </p>

        </div>

    </div>
</div>
<div class="container">
   
        <div class="d-flex">
            <mat-icon style="width:16px; margin-right: 40px;" class="grayClr">keyboard_backspace</mat-icon>
            <p class="sec2HeadCertificate "> Certificates</p>
        </div>
   
</div>
<div class="container">
    <hr style="  color:#D0D5DD;">
    <div class="row py-1">
        <div class="col-12 col-sm-6">
            <p class="m-0 p-0 sec3HeadCertificate">Certificates </p>
            <p class="m-0 pt-1 sec3TextCertificate">Edit and customize settings to re-issue a certificate</p>

        </div>
      
    </div>
    <hr style=" height:1.5px; color:#D0D5DD;">
   
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="py-2">
                <p>Select the course(s) where this will apply</p>
            <select class="form-select form-select-sm p-2" aria-label=".form-select-sm example">
              <option value="1">Apply to all courses</option>
              <option value="2">the botox course</option>
              <option value="3">the filler course</option>
              <option value="4">the botox and filler package</option>
              <option value="5">the expert course</option>
            </select>
            </div>
            
            <div class="py-2">
                <p>Select payment option(s)</p>
   
                <select class="form-select form-select-sm p-2" aria-label=".form-select-sm example">
            
                  <option value="1">All payment methods</option>
                  <option value="2">Pre-authorized debit</option>
                  <option value="3">Credit dard</option>
                 
                </select>
            </div>
           
            <div class="py-2">
                <p>Currency </p>
   
                <select class="form-select form-select-sm p-2" aria-label=".form-select-sm example">
            
                  <option value="1">CAD</option>
                  <option value="2"></option>
                  <option value="3"></option>
                 
                </select>
            </div>
           <div class="py-2">
            <p>Price</p>
          <p class="border p-2 ">$35.00</p>
           </div>
           <div class=" d-flex py-1">
            <button mat-stroked-button class="CertificateCancleBtn">Cancle</button>
            <button mat-stroked-button class="CertificateSaveBtn">Save</button>
           </div>
        </div>
        <div class="col-12 col-md-6"></div>
    </div>
</div>

