.grayClr {
    color: #667085;
}

.sec1MatArrowAutomatedMail{
    font-size: 18px;
    margin-right: 12px;
    color: #D0D5DD;
    // padding: 1px 30px 10px 15px;
}
.homeImg{
    margin-right: 12px;
}
.sec1Text{
    margin-right: 12px;
}
.sec2HeadAutomatedMail{
    font-size: 27px;
    font-weight: 500;
}
.sec3HeadAutomatedMail {
    font-size: 19px;
    font-weight: 500;
}

.sec3TextAutomatedMail {
    color: #667085;
    font-size: 13px;
}
.addEmail{
    
    background-color:#6941C6;
    color :white;
    font-size: 13px;
    font-weight: 400;
    border-radius: 7px;
    margin-right:10px;
    

}
    


.addSMS{
    color: #6941C6;
    border-color:#6941C6;
    font-size: 13px;
    font-weight: 400;
    border-radius: 7px;
}
